In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
salario_2 = pd.read_csv('salario.csv')

# União dos atributos de localidade

In [3]:
df = salario_2.copy() 
local = []
cidades = salario_2.cidade
estados = salario_2.estado
paises = salario_2.pais

for i in range(0,len(cidades)):
    local.append(str('{}, {}, {}'.format(cidades[i], estados[i], paises[i])))

In [4]:
pd.DataFrame(local)
df = df.drop("cidade",axis=1)
df = df.drop("estado",axis=1)
df = df.drop("pais",axis=1)

df['local'] = local

sequence = ['id', 'local', 'genero', 'data', 'salario']
df = df.reindex(columns=sequence)

df

,id,local,genero,data,salario
0,1,"Mobile, Alabama, United States",Male,10/01/1987,$5407.86
1,2,"Rego, Porto, Portugal",Male,29/11/2007,$7833.82
2,3,"Emmaboda, Kalmar, Sweden",Male,23/06/1984,$5530.85
3,4,"Sala, Västmanland, Sweden",Female,04/11/1983,$2803.76
4,5,"Quimperlé, Bretagne, France",Female,18/11/1990,$2201.87
5,6,"Cincinnati, Ohio, United States",Female,10/07/1981,$4047.44
6,7,"Niort, Poitou-Charentes, France",Female,23/03/1989,$2004.14
7,8,"Del Valle, Tamaulipas, Mexico",Male,02/05/1990,$883.43
8,9,"Oklahoma City, Oklahoma, United States",Male,27/11/1992,$5307.88
9,10,"Reims, Champagne-Ardenne, France",Female,19/01/2007,$7418.79
10,11,"Melbourne, Florida, United States",Male,29/01/2007,$813.67
11,12,"Årjäng, Värmland, Sweden",Male,25/03/1995,$5435.41
12,13,"Uppsala, Uppsala, Sweden",Female,15/01/1996,$2541.75
13,14,"Katrineholm, Södermanland, Sweden",Female,31/10/2002,$4874.88
14,15,"Frankfort, Kentucky, United States",Female,14/11/1980,$4178.43
15,16,"Älvsjö, Stockholm, Sweden",Female,05/05/1985,$4391.85
16,17,"Thompson, Manitoba, Canada",Male,30/04/2009,$6289.41
17,18,"Mobile, Alabama, United States",Female,06/05/1983,$2934.66
18,19,"Morelos, Veracruz Llave, Mexico",Male,09/11/2004,$6995.08
19,20,"Avesta, Dalarna, Sweden",Female,04/05/2000,$6250.72
20,21,"Nybro, Kalmar, Sweden",Female,28/02/1996,$2923.67
21,22,"Corpus Christi, Texas, United States",Male,06/01/1999,$4941.92
22,23,"Church End, England, United Kingdom",Male,27/04/1992,$3585.70
23,24,"Rouen, Haute-Normandie, France",Male,20/09/2002,$7512.12
24,25,"Nantes, Pays de la Loire, France",Female,21/11/1990,$4627.31
25,26,"Kvissleby, Västernorrland, Sweden",Male,19/10/1981,$5563.83
26,27,"Göteborg, Västra Götaland, Sweden",Male,01/12/2000,$3472.88
27,28,"Santo Aleixo, Portalegre, Portugal",Male,25/10/1999,$2534.88
28,29,"Besançon, Franche-Comté, France",Male,19/04/1994,$5689.99
29,30,"Gustavsberg, Stockholm, Sweden",Female,16/08/1999,$4848.93
...,...,...,...,...,...
970,971,"Limoges, Limousin, France",Male,13/02/1985,$4583.37
971,972,"Neuilly-sur-Marne, Île-de-France, France",Female,27/08/2007,$5163.00
972,973,"Sangalhos, Aveiro, Portugal",Male,21/01/2006,$2562.92
973,974,"Mobile, Alabama, United States",Female,24/01/2007,$4942.31
974,975,"Meia Via, Santarém, Portugal",Female,23/06/1992,$7816.46
975,976,"Senhor da Serra, Coimbra, Portugal",Female,13/05/1981,$5847.43
976,977,"Canha, Setúbal, Portugal",Male,08/06/1984,$4443.31
977,978,"Orléans, Centre, France",Male,23/10/1996,$5620.85
978,979,"Cruzeiro, Aveiro, Portugal",Male,30/07/2008,$1618.95
979,980,"Almeirim, Santarém, Portugal",Female,22/04/1985,$7982.36
980,981,"Quintãs, Viseu, Portugal",Female,20/04/1999,$2320.29
981,982,"Le Mans, Pays de la Loire, France",Male,12/03/1994,$1265.76
982,983,"El Mirador, Distrito Federal, Mexico",Female,06/06/2004,$7048.51
983,984,"Souto, Braga, Portugal",Female,17/10/2008,$6105.52
984,985,"Dallas, Texas, United States",Female,29/05/1999,$5896.63
985,986,"Hallsberg, Örebro, Sweden",Female,16/10/1985,$6173.77
986,987,"Habo, Jönköping, Sweden",Male,02/12/1994,$6525.63
987,988,"San Francisco, California, United States",Female,23/03/1999,$2460.19
988,989,"Anchorage, Alaska, United States",Female,31/03/1997,$4630.14
989,990,"Cran-Gevrier, Rhône-Alpes, France",Female,26/08/1996,$4630.99
990,991,"Saint-Avertin, Centre, France",Male,08/04/1981,$7680.45
991,992,"Strömstad, Västra Götaland, Sweden",Female,22/01/1987,$1919.83
992,993,"Martigues, Provence-Alpes-Côte d'Azur, France",Male,27/10/1989,$1655.67
993,994,"Mississauga, Ontario, Canada",Female,14/09/1999,$7202.18
994,995,"Vidago, Vila Real, Portugal",Male,27/02/1991,$7831.28
995,996,"Nipawin, Saskatchewan, Canada",Female,29/11/1995,$7782.63
996,997,"Santo Aleixo, Portalegre, Portugal",Female,09/02/1988,$4772.43
997,998,"Boissy-Saint-Léger, Île-de-France, France",Male,17/10/1990,$5004.78
998,999,"Rennes, Bretagne, France",Male,23/09/1996,$5362.26
999,1000,"Lindavista, Guanajuato, Mexico",Female,19/11/2006,$3737.37

# Árvore de Localização

In [5]:
nivel0Local = df.local.unique().tolist()

In [6]:
lista_local = []
nivel1Local = df["local"].str.split(", ", n=2, expand=True)
estado = nivel1Local.iloc[:,1]
pais = nivel1Local.iloc[:,2]
for i in range(0, nivel1Local.shape[0]):
    lista_local.append(["*, "+estado[i]+", "+pais[i]])
    
nivel1Local = pd.DataFrame(lista_local)
nivel1Local = nivel1Local[0].unique().tolist()

In [7]:
nivel2Local = []
for i in range(0, pais.shape[0]):
    nivel2Local.append("*, *, "+pais[i])
    
nivel2Local = pd.DataFrame(nivel2Local)
nivel2Local = nivel2Local[0].unique().tolist()

In [8]:
nivel3Local = "*, *, *"

In [9]:
arvLocal = [nivel0Local, nivel1Local, nivel2Local, nivel3Local]

In [10]:
local = "*, *, *"

In [11]:
for i in range(0, len(arvLocal)):
    if(local in arvLocal[i]):
        print(i)

3

# Árvore da Data

In [12]:
nivel0Data = df.data.unique().tolist()

In [13]:
lista_data = []
nivel1Data = df["data"].str.split("/", n=2, expand=True)
mes = nivel1Data.iloc[:,1]
ano = nivel1Data.iloc[:,2]
for i in range(0, nivel1Data.shape[0]):
    lista_data.append(["**/"+mes[i]+"/"+ano[i]])
    
nivel1Data = pd.DataFrame(lista_data)
nivel1Data = nivel1Data[0].unique().tolist()

In [14]:
nivel2Data = []
for i in range(0, ano.shape[0]):
    nivel2Data.append("**/**/"+ano[i])
    
nivel2Data = pd.DataFrame(nivel2Data)
nivel2Data = nivel2Data[0].unique().tolist()

In [15]:
nivel3Data = "**/**/****"

In [16]:
arvData = [nivel0Data, nivel1Data, nivel2Data, nivel3Data]

In [17]:
data = "**/**/1981"

In [18]:
for i in range(0, len(arvData)):
    if(data in arvData[i]):
        print(i)

2

# Árvore do Gênero

In [19]:
nivel0Genero = df.genero.unique().tolist()

In [20]:
nivel1Genero = "*"

In [21]:
arvGenero = [nivel0Genero, nivel1Genero]

In [22]:
genero = "*"

In [23]:
for i in range(0, len(arvGenero)):
    if(genero in arvGenero[i]):
        print(i)

1

# Função de Precisão

In [24]:
def precisao(N, D, h, HGV): #N: número de atributos, D: número de registros, h: lista com altura da árvore de cada atributo, HGV: lista com alturas máximas das hierarquias dos atributos
    somatorio = 0
    for i in range(0,N):
        somatorio += h[i]/HGV[i]
    #como o somatório interno não está sendo utilizado como índice, basta multiplicar o somatório por D
    resultado = 1 - ((D*somatório)/(D*N))
    return resultado

# Distância

In [31]:
def dist(reg1, reg2):
    genero1 = np.array(reg1["genero"])
    local1 = np.array(reg1["local"].str.split(", ", n=2, expand=True))[0]
    data1 = np.array(reg1["data"].str.split("/", n=2, expand=True))[0]
    genero2 = np.array(reg2["genero"])
    local2 = np.array(reg2["local"].str.split(", ", n=2, expand=True))[0]
    data2 = np.array(reg2["data"].str.split("/", n=2, expand=True))[0]
    distValor = 0
    distTexto = ""
    if(genero1[0] != genero2[0]):
        distValor = distValor + 1
        distTexto = distTexto + "g"
    if(data1[2] != data2[2]):
        distValor = distValor + 3
        distTexto = distTexto + "a"
    else:
        if(data1[1] != data2[1]):
            distValor = distValor + 2
            distTexto = distTexto + "m"
        else:
            if(data1[0] != data2[0]):
                distValor = distValor + 1
                distTexto = distTexto + "d"
    if(local1[2] != local2[2]):
        distValor = distValor + 3
        distTexto = distTexto + "p"
    else:
        if(local1[1] != local2[1]):
            distValor = distValor + 2
            distTexto = distTexto + "e"
        else:
            if(local1[0] != local2[0]):
                distValor = distValor + 1
                distTexto = distTexto + "c"
    return distValor, distTexto

# Clusterização dos grupos

In [32]:
def agrupa(df):
    grupos = []
    for i in range(0, df.shape[0]-1):
        distanciaValor = []
        distanciaTexto = []
        grupo = [i]
        for j in range(i+1, df.shape[0]):
            distValor, distTexto = dist(df.loc[[i]], df.loc[[j]])
            distanciaValor.append(distValor)
            distanciaTexto.append(distTexto)
        distanciaValor = np.array(distanciaValor)
        distanciaTexto = np.array(distanciaTexto)
        irmao  = np.argmin(distanciaValor)
        print(distanciaTexto[irmao])
        #print(distancia)

In [33]:
agrupa(df)

ga
ac
dp
ac
de
de
a
me
ac
me
de
p
a
me
ac
mc
ac
p
dp
me
p
a
dp
gmc
a
p
a
de

KeyboardInterrupt: