In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
salario_2 = pd.read_csv('salario.csv')

# União dos atributos de localidade

In [3]:
df = salario_2.copy() 
local = []
cidades = salario_2.cidade
estados = salario_2.estado
paises = salario_2.pais

for i in range(0,len(cidades)):
    local.append(str('{}, {}, {}'.format(cidades[i], estados[i], paises[i])))

In [4]:
pd.DataFrame(local)
df = df.drop("cidade",axis=1)
df = df.drop("estado",axis=1)
df = df.drop("pais",axis=1)

df['local'] = local

sequence = ['id', 'local', 'genero', 'data', 'salario']
df = df.reindex(columns=sequence)

df

,id,local,genero,data,salario
0,1,"Mobile, Alabama, United States",Male,10/01/1987,$5407.86
1,2,"Rego, Porto, Portugal",Male,29/11/2007,$7833.82
2,3,"Emmaboda, Kalmar, Sweden",Male,23/06/1984,$5530.85
3,4,"Sala, Västmanland, Sweden",Female,04/11/1983,$2803.76
4,5,"Quimperlé, Bretagne, France",Female,18/11/1990,$2201.87
5,6,"Cincinnati, Ohio, United States",Female,10/07/1981,$4047.44
6,7,"Niort, Poitou-Charentes, France",Female,23/03/1989,$2004.14
7,8,"Del Valle, Tamaulipas, Mexico",Male,02/05/1990,$883.43
8,9,"Oklahoma City, Oklahoma, United States",Male,27/11/1992,$5307.88
9,10,"Reims, Champagne-Ardenne, France",Female,19/01/2007,$7418.79
10,11,"Melbourne, Florida, United States",Male,29/01/2007,$813.67
11,12,"Årjäng, Värmland, Sweden",Male,25/03/1995,$5435.41
12,13,"Uppsala, Uppsala, Sweden",Female,15/01/1996,$2541.75
13,14,"Katrineholm, Södermanland, Sweden",Female,31/10/2002,$4874.88
14,15,"Frankfort, Kentucky, United States",Female,14/11/1980,$4178.43
15,16,"Älvsjö, Stockholm, Sweden",Female,05/05/1985,$4391.85
16,17,"Thompson, Manitoba, Canada",Male,30/04/2009,$6289.41
17,18,"Mobile, Alabama, United States",Female,06/05/1983,$2934.66
18,19,"Morelos, Veracruz Llave, Mexico",Male,09/11/2004,$6995.08
19,20,"Avesta, Dalarna, Sweden",Female,04/05/2000,$6250.72
20,21,"Nybro, Kalmar, Sweden",Female,28/02/1996,$2923.67
21,22,"Corpus Christi, Texas, United States",Male,06/01/1999,$4941.92
22,23,"Church End, England, United Kingdom",Male,27/04/1992,$3585.70
23,24,"Rouen, Haute-Normandie, France",Male,20/09/2002,$7512.12
24,25,"Nantes, Pays de la Loire, France",Female,21/11/1990,$4627.31
25,26,"Kvissleby, Västernorrland, Sweden",Male,19/10/1981,$5563.83
26,27,"Göteborg, Västra Götaland, Sweden",Male,01/12/2000,$3472.88
27,28,"Santo Aleixo, Portalegre, Portugal",Male,25/10/1999,$2534.88
28,29,"Besançon, Franche-Comté, France",Male,19/04/1994,$5689.99
29,30,"Gustavsberg, Stockholm, Sweden",Female,16/08/1999,$4848.93
...,...,...,...,...,...
970,971,"Limoges, Limousin, France",Male,13/02/1985,$4583.37
971,972,"Neuilly-sur-Marne, Île-de-France, France",Female,27/08/2007,$5163.00
972,973,"Sangalhos, Aveiro, Portugal",Male,21/01/2006,$2562.92
973,974,"Mobile, Alabama, United States",Female,24/01/2007,$4942.31
974,975,"Meia Via, Santarém, Portugal",Female,23/06/1992,$7816.46
975,976,"Senhor da Serra, Coimbra, Portugal",Female,13/05/1981,$5847.43
976,977,"Canha, Setúbal, Portugal",Male,08/06/1984,$4443.31
977,978,"Orléans, Centre, France",Male,23/10/1996,$5620.85
978,979,"Cruzeiro, Aveiro, Portugal",Male,30/07/2008,$1618.95
979,980,"Almeirim, Santarém, Portugal",Female,22/04/1985,$7982.36
980,981,"Quintãs, Viseu, Portugal",Female,20/04/1999,$2320.29
981,982,"Le Mans, Pays de la Loire, France",Male,12/03/1994,$1265.76
982,983,"El Mirador, Distrito Federal, Mexico",Female,06/06/2004,$7048.51
983,984,"Souto, Braga, Portugal",Female,17/10/2008,$6105.52
984,985,"Dallas, Texas, United States",Female,29/05/1999,$5896.63
985,986,"Hallsberg, Örebro, Sweden",Female,16/10/1985,$6173.77
986,987,"Habo, Jönköping, Sweden",Male,02/12/1994,$6525.63
987,988,"San Francisco, California, United States",Female,23/03/1999,$2460.19
988,989,"Anchorage, Alaska, United States",Female,31/03/1997,$4630.14
989,990,"Cran-Gevrier, Rhône-Alpes, France",Female,26/08/1996,$4630.99
990,991,"Saint-Avertin, Centre, France",Male,08/04/1981,$7680.45
991,992,"Strömstad, Västra Götaland, Sweden",Female,22/01/1987,$1919.83
992,993,"Martigues, Provence-Alpes-Côte d'Azur, France",Male,27/10/1989,$1655.67
993,994,"Mississauga, Ontario, Canada",Female,14/09/1999,$7202.18
994,995,"Vidago, Vila Real, Portugal",Male,27/02/1991,$7831.28
995,996,"Nipawin, Saskatchewan, Canada",Female,29/11/1995,$7782.63
996,997,"Santo Aleixo, Portalegre, Portugal",Female,09/02/1988,$4772.43
997,998,"Boissy-Saint-Léger, Île-de-France, France",Male,17/10/1990,$5004.78
998,999,"Rennes, Bretagne, France",Male,23/09/1996,$5362.26
999,1000,"Lindavista, Guanajuato, Mexico",Female,19/11/2006,$3737.37

# Árvore de Localização

In [5]:
nivel0Local = df.local.unique().tolist()

In [6]:
lista_local = []
nivel1Local = df["local"].str.split(", ", n=2, expand=True)
estado = nivel1Local.iloc[:,1]
pais = nivel1Local.iloc[:,2]
for i in range(0, nivel1Local.shape[0]):
    lista_local.append(["*, "+estado[i]+", "+pais[i]])
    
nivel1Local = pd.DataFrame(lista_local)
nivel1Local = nivel1Local[0].unique().tolist()

In [7]:
nivel2Local = []
for i in range(0, pais.shape[0]):
    nivel2Local.append("*, *, "+pais[i])
    
nivel2Local = pd.DataFrame(nivel2Local)
nivel2Local = nivel2Local[0].unique().tolist()

In [8]:
nivel3Local = "*, *, *"

In [9]:
arvLocal = [nivel0Local, nivel1Local, nivel2Local, nivel3Local]

In [10]:
local = "*, *, *"

In [11]:
for i in range(0, len(arvLocal)):
    if(local in arvLocal[i]):
        print(i)

3

# Árvore da Data

In [12]:
nivel0Data = df.data.unique().tolist()

In [13]:
lista_data = []
nivel1Data = df["data"].str.split("/", n=2, expand=True)
mes = nivel1Data.iloc[:,1]
ano = nivel1Data.iloc[:,2]
for i in range(0, nivel1Data.shape[0]):
    lista_data.append(["**/"+mes[i]+"/"+ano[i]])
    
nivel1Data = pd.DataFrame(lista_data)
nivel1Data = nivel1Data[0].unique().tolist()

In [14]:
nivel2Data = []
for i in range(0, ano.shape[0]):
    nivel2Data.append("**/**/"+ano[i])
    
nivel2Data = pd.DataFrame(nivel2Data)
nivel2Data = nivel2Data[0].unique().tolist()

In [15]:
nivel3Data = "**/**/****"

In [16]:
arvData = [nivel0Data, nivel1Data, nivel2Data, nivel3Data]

In [17]:
data = "**/**/1981"

In [18]:
for i in range(0, len(arvData)):
    if(data in arvData[i]):
        print(i)

2

# Árvore do Gênero

In [19]:
nivel0Genero = df.genero.unique().tolist()

In [20]:
nivel1Genero = "*"

In [21]:
arvGenero = [nivel0Genero, nivel1Genero]

In [22]:
genero = "*"

In [23]:
for i in range(0, len(arvGenero)):
    if(genero in arvGenero[i]):
        print(i)

1

# Função de Precisão

In [24]:
def precisao(N, D, h, HGV): #N: número de atributos, D: número de registros, h: lista com altura da árvore de cada atributo, HGV: lista com alturas máximas das hierarquias dos atributos
    somatorio = 0
    for i in range(0,N):
        somatorio += h[i]/HGV[i]
    #como o somatório interno não está sendo utilizado como índice, basta multiplicar o somatório por D
    resultado = 1 - ((D*somatório)/(D*N))
    return resultado

# Distância

In [46]:
def dist(reg1, reg2):
    genero1 = np.array(reg1[0])
    local1 = np.array(reg1[1].split(", "))
    data1 = np.array(reg1[3].split("/"))
    genero2 = np.array(reg2[0])
    local2 = np.array(reg2[1].split(", "))
    data2 = np.array(reg2[3].split("/"))
    distValor = 0
    distTexto = ""
    if(genero1 != genero2):
        distValor = distValor + 1
        distTexto = distTexto + "g"
    if(data1[2] != data2[2]):
        distValor = distValor + 3
        distTexto = distTexto + "a"
    else:
        if(data1[1] != data2[1]):
            distValor = distValor + 2
            distTexto = distTexto + "m"
        else:
            if(data1[0] != data2[0]):
                distValor = distValor + 1
                distTexto = distTexto + "d"
    if(local1[2] != local2[2]):
        distValor = distValor + 3
        distTexto = distTexto + "p"
    else:
        if(local1[1] != local2[1]):
            distValor = distValor + 2
            distTexto = distTexto + "e"
        else:
            if(local1[0] != local2[0]):
                distValor = distValor + 1
                distTexto = distTexto + "c"
    return distValor, distTexto

# Clusterização dos grupos

In [168]:
def agrupa(df):
    grupos = []
    i = 0
    while((df.shape[0]-1)>0):
        distanciaValor = []
        distanciaTexto = []
        grupo = [df[i,0]]
        for j in range(i+1, df.shape[0]):
            distValor, distTexto = dist(df[i], df[j])
            distanciaValor.append(distValor)
            distanciaTexto.append(distTexto)
        distanciaValor = np.array(distanciaValor)
        distanciaTexto = np.array(distanciaTexto)
        registroProximo  = np.argmin(distanciaValor)
        print(distanciaValor)
        grupo.append(df[registroProximo,0])
        print(df[registroProximo])
        df = np.delete(df, registroProximo, axis=0)
        print(df[i])
        
        df = np.delete(df, i, axis=0)
        i = 0
        print(grupo)
        #print(np.min(distanciaValor))
        #print(distanciaTexto[registroProximo])
        #print(distancia)

In [169]:
agrupa(df)

16
[17 'Thompson, Manitoba, Canada' 'Male' '30/04/2009' '$6289.41']
[1 'Mobile, Alabama, United States' 'Male' '10/01/1987' '$5407.86']
[1, 17]
29
[32 'Vannes, Bretagne, France' 'Male' '03/02/1992' '$3827.17']
[2 'Rego, Porto, Portugal' 'Male' '29/11/2007' '$7833.82']
[2, 32]
16
[20 'Avesta, Dalarna, Sweden' 'Female' '04/05/2000' '$6250.72']
[3 'Emmaboda, Kalmar, Sweden' 'Male' '23/06/1984' '$5530.85']
[3, 20]
109
[116 'Lac du Bonnet, Manitoba, Canada' 'Male' '24/07/1993' '$7376.21']
[4 'Sala, Västmanland, Sweden' 'Female' '04/11/1983' '$2803.76']
[4, 116]
17
[24 'Rouen, Haute-Normandie, France' 'Male' '20/09/2002' '$7512.12']
[5 'Quimperlé, Bretagne, France' 'Female' '18/11/1990' '$2201.87']
[5, 24]
272
[283 'Infantas, Braga, Portugal' 'Male' '10/08/2001' '$4663.87']
[6 'Cincinnati, Ohio, United States' 'Female' '10/07/1981' '$4047.44']
[6, 283]
410
[423 'Paço de Arcos, Lisboa, Portugal' 'Male' '05/10/1989' '$5108.35']
[7 'Niort, Poitou-Charentes, France' 'Female' '23/03/1989' '$2004.14']
[7, 423]
57
[69 'Bobigny, Île-de-France, France' 'Female' '14/10/1997' '$5536.87']
[8 'Del Valle, Tamaulipas, Mexico' 'Male' '02/05/1990' '$883.43']
[8, 69]
59
[73 'Nantes, Pays de la Loire, France' 'Female' '05/05/2007' '$6432.81']
[9 'Oklahoma City, Oklahoma, United States' 'Male' '27/11/1992' '$5307.88']
[9, 73]
0
[10 'Reims, Champagne-Ardenne, France' 'Female' '19/01/2007' '$7418.79']
[11 'Melbourne, Florida, United States' 'Male' '29/01/2007' '$813.67']
[10, 10]
403
[424 'Niort, Poitou-Charentes, France' 'Female' '01/08/1981' '$6674.63']
[12 'Årjäng, Värmland, Sweden' 'Male' '25/03/1995' '$5435.41']
[12, 424]
114
[134 'Uddevalla, Västra Götaland, Sweden' 'Female' '31/03/1993' '$5240.94']
[13 'Uppsala, Uppsala, Sweden' 'Female' '15/01/1996' '$2541.75']
[13, 134]
481
[506 'Uppsala, Uppsala, Sweden' 'Female' '08/06/2005' '$7134.93']
[14 'Katrineholm, Södermanland, Sweden' 'Female' '31/10/2002' '$4874.88']
[14, 506]
853
[880 'Kungsbacka, Halland, Sweden' 'Female' '04/08/1993' '$2587.45']
[15 'Frankfort, Kentucky, United States' 'Female' '14/11/1980' '$4178.43']
[15, 880]
337
[362 'Torrão, Setúbal, Portugal' 'Male' '10/12/1984' '$2661.36']
[16 'Älvsjö, Stockholm, Sweden' 'Female' '05/05/1985' '$4391.85']
[16, 362]
836
[866 'Boulogne-Billancourt, Île-de-France, France' 'Male' '28/02/2010'
 '$7109.56']
[18 'Mobile, Alabama, United States' 'Female' '06/05/1983' '$2934.66']
[18, 866]
9
[30 'Gustavsberg, Stockholm, Sweden' 'Female' '16/08/1999' '$4848.93']
[19 'Morelos, Veracruz Llave, Mexico' 'Male' '09/11/2004' '$6995.08']
[19, 30]
265
[294 'Lac-Mégantic, Québec, Canada' 'Male' '26/09/1981' '$7082.80']
[21 'Nybro, Kalmar, Sweden' 'Female' '28/02/1996' '$2923.67']
[21, 294]
807
[842 'Sollebrunn, Västra Götaland, Sweden' 'Female' '23/12/1984'
 '$5701.55']
[22 'Corpus Christi, Texas, United States' 'Male' '06/01/1999' '$4941.92']
[22, 842]
206
[236 'Paris 13, Île-de-France, France' 'Male' '29/03/1987' '$2627.52']
[23 'Church End, England, United Kingdom' 'Male' '27/04/1992' '$3585.70']
[23, 236]
32
[59 'Aldeia do Bispo, Castelo Branco, Portugal' 'Female' '26/07/1996'
 '$2642.75']
[25 'Nantes, Pays de la Loire, France' 'Female' '21/11/1990' '$4627.31']
[25, 59]
545
[585 'Aviúges, Viseu, Portugal' 'Female' '16/09/2005' '$4550.42']
[26 'Kvissleby, Västernorrland, Sweden' 'Male' '19/10/1981' '$5563.83']
[26, 585]
5
[34 'Ystad, Skåne, Sweden' 'Female' '17/09/1999' '$6552.66']
[27 'Göteborg, Västra Götaland, Sweden' 'Male' '01/12/2000' '$3472.88']
[27, 34]
680
[724 'Casais de Vera Cruz, Coimbra, Portugal' 'Male' '12/12/2003'
 '$4260.82']
[28 'Santo Aleixo, Portalegre, Portugal' 'Male' '25/10/1999' '$2534.88']
[28, 724]
323
[364 'Senneterre, Québec, Canada' 'Male' '07/09/2006' '$3407.45']
[29 'Besançon, Franche-Comté, France' 'Male' '19/04/1994' '$5689.99']
[29, 364]
757
[805 "Serra D'El Rei, Leiria, Portugal" 'Male' '28/10/2004' '$4323.07']
[31 'Lindavista, Veracruz Llave, Mexico' 'Female' '09/03/2000' '$7103.44']
[31, 805]
141
[180 'Täby, Stockholm, Sweden' 'Female' '27/01/2003' '$7718.13']
[33 'Guimarei, Porto, Portugal' 'Female' '18/04/1996' '$7202.43']
[33, 180]
44
[82 'Igreja, Ilha da Madeira, Portugal' 'Male' '25/03/1994' '$4504.29']
[35 'Göteborg, Västra Götaland, Sweden' 'Male' '30/12/1997' '$938.01']
[35, 82]
1
[37 'Santana, Setúbal, Portugal' 'Male' '01/06/2000' '$3591.12']
[36 'Aranhas, Castelo Branco, Portugal' 'Female' '03/04/1981' '$5772.69']
[36, 37]
542
[596 'Brunflo, Jämtland, Sweden' 'Female' '31/05/2007' '$4348.19']
[38 'Fojo, Porto, Portugal' 'Female' '29/05/1981' '$7847.46']
[38, 596]
516
[570 'Göteborg, Västra Götaland, Sweden' 'Female' '09/11/2003' '$6190.47']
[39 'Louisville, Kentucky, United States' 'Female' '26/10/1993' '$3472.73']
[39, 570]
21
[62 'Greeley, Colorado, United States' 'Male' '01/07/2007' '$3435.80']
[40 'Canedo, Aveiro, Portugal' 'Male' '23/12/1999' '$5979.17']
[40, 62]
816
[881 'Frankfort, Kentucky, United States' 'Male' '04/08/1987' '$7402.15']
[41 'Viso, Viana do Castelo, Portugal' 'Female' '12/01/2005' '$1213.00']
[41, 881]
98
[147 'Carromeu, Coimbra, Portugal' 'Male' '05/12/1984' '$3526.69']
[42 'Mondim de Basto, Vila Real, Portugal' 'Female' '18/08/1981'
 '$7539.41']
[42, 147]
722
[786 'Bradford, England, United Kingdom' 'Female' '15/02/1981' '$1887.39']
[43 'Ängelholm, Skåne, Sweden' 'Female' '28/06/2004' '$7758.57']
[43, 786]
9
[53 'Algueirão, Lisboa, Portugal' 'Female' '08/02/1995' '$2363.38']
[44 'Sundbyberg, Stockholm, Sweden' 'Female' '17/03/2000' '$4941.80']
[44, 53]
33
[84 'Vanderhoof, British Columbia, Canada' 'Female' '31/12/1987'
 '$4100.69']
[45 'Amieiro, Vila Real, Portugal' 'Female' '25/02/2008' '$6907.90']
[45, 84]
138
[195 'Dayton, Ohio, United States' 'Male' '30/05/1999' '$3911.50']
[46 'Agra, Braga, Portugal' 'Male' '29/04/1997' '$3200.30']
[46, 195]
70
[125 'Cleveland, Ohio, United States' 'Female' '26/10/1998' '$3562.87']
[47 'Barrosa, Santarém, Portugal' 'Female' '17/01/1981' '$1133.30']
[47, 125]
36
[91 'Longwy, Lorraine, France' 'Female' '23/09/1983' '$4160.18']
[48 'Paris 10, Île-de-France, France' 'Female' '15/01/2004' '$1191.96']
[48, 91]
228
[293 'Loureiro, Viana do Castelo, Portugal' 'Male' '17/08/1996' '$6549.93']
[49 'Tours, Centre, France' 'Male' '18/07/2010' '$6336.71']
[49, 293]
695
[772 'Vales, Viseu, Portugal' 'Male' '23/06/1999' '$6056.46']
[50 'Gävle, Gävleborg, Sweden' 'Female' '29/09/1985' '$6867.13']
[50, 772]
402
[475 'Giesteira, Viana do Castelo, Portugal' 'Male' '28/08/1983'
 '$7454.96']
[51 'Burns Lake, British Columbia, Canada' 'Female' '25/07/2001'
 '$2894.36']
[51, 475]
109
[173 'Villeneuve-sur-Lot, Aquitaine, France' 'Male' '01/12/1990'
 '$1841.41']
[52 'Denver, Colorado, United States' 'Female' '27/10/2009' '$4689.02']
[52, 173]
48
[109 'Saint-Augustin, Québec, Canada' 'Female' '28/11/1995' '$7292.50']
[54 'Hägersten, Stockholm, Sweden' 'Male' '26/07/2000' '$919.06']
[54, 109]
786
[875 'Lazaro Cardenas, Mexico, Mexico' 'Male' '13/03/2008' '$1403.09']
[55 'Costa de Rios Frios, Coimbra, Portugal' 'Female' '07/10/1988'
 '$3223.62']
[55, 875]
37
[100 'Almada, Setúbal, Portugal' 'Male' '24/09/2000' '$3573.26']
[56 'San Francisco, San Luis Potosi, Mexico' 'Female' '11/01/1993'
 '$6528.84']
[56, 100]
353
[434 'Cabo de Vila, Porto, Portugal' 'Female' '18/03/1986' '$1684.26']
[57 'Chão de Couce, Leiria, Portugal' 'Male' '25/09/1988' '$2944.40']
[57, 434]
656
[745 'Midland, Texas, United States' 'Male' '24/10/1990' '$7638.46']
[58 'Saint Louis, Missouri, United States' 'Female' '22/02/2010'
 '$6968.33']
[58, 745]
25
[90 'Santa Cecilia, Jalisco, Mexico' 'Female' '30/10/1984' '$2076.62']
[60 'Nantes, Pays de la Loire, France' 'Female' '26/08/2004' '$6148.93']
[60, 90]
172
[250 'Figueiras, Leiria, Portugal' 'Female' '05/02/2005' '$6289.95']
[61 'Muxagata, Guarda, Portugal' 'Female' '07/10/1997' '$7077.49']
[61, 250]
95
[170 'Independencia, Nayarit, Mexico' 'Male' '25/08/1994' '$3389.21']
[63 'Veiros, Aveiro, Portugal' 'Male' '05/05/1995' '$6842.64']
[63, 170]
40
[112 'Paris 05, Île-de-France, France' 'Female' '25/01/1994' '$2236.23']
[64 'San Sebastian, Chiapas, Mexico' 'Female' '31/08/2001' '$2690.43']
[64, 112]
633
[731 'Orléans, Centre, France' 'Male' '13/02/1983' '$2655.12']
[65 'Nuits-Saint-Georges, Bourgogne, France' 'Male' '26/02/1989'
 '$1186.54']
[65, 731]
231
[319 'Buenavista, Oaxaca, Mexico' 'Female' '11/05/1994' '$6285.72']
[66 'Ribeira Grande, Ilha de São Miguel, Portugal' 'Female' '21/07/1988'
 '$4022.26']
[66, 319]
45
[122 'Valada, Santarém, Portugal' 'Male' '29/03/2003' '$5214.50']
[67 'Moinhos, Porto, Portugal' 'Male' '10/06/1984' '$2420.72']
[67, 122]
128
[214 'Rungis, Île-de-France, France' 'Male' '24/03/1993' '$7733.10']
[68 'Pittsburgh, Pennsylvania, United States' 'Female' '02/11/1988'
 '$1348.47']
[68, 214]
680
[789 'Oka, Québec, Canada' 'Male' '26/02/2002' '$1994.12']
[70 'El Calvario, Puebla, Mexico' 'Male' '05/02/1990' '$6445.22']
[70, 789]
121
[209 'Montpellier, Languedoc-Roussillon, France' 'Female' '12/06/2006'
 '$6325.50']
[71 'Saint-Grégoire, Bretagne, France' 'Male' '13/02/1998' '$5323.97']
[71, 209]
392
[495 'Saint-Amand-les-Eaux, Nord-Pas-de-Calais, France' 'Male'
 '21/09/2004' '$3511.27']
[72 'Las Palmas, Oaxaca, Mexico' 'Male' '24/06/2008' '$7170.52']
[72, 495]
75
[161 'Tomelilla, Skåne, Sweden' 'Female' '31/03/1982' '$4407.88']
[74 'Tulsa, Oklahoma, United States' 'Female' '23/12/2007' '$7653.00']
[74, 161]
31
[113 'Fovissste, Guerrero, Mexico' 'Female' '13/06/2001' '$2184.75']
[75 'Collingwood, Ontario, Canada' 'Female' '16/06/1990' '$4627.92']
[75, 113]
408
[518 'Washington, District of Columbia, United States' 'Female'
 '01/11/1981' '$1715.64']
[76 'Huntington, West Virginia, United States' 'Female' '21/06/2010'
 '$7983.68']
[76, 518]
99
[193 'Engenho, Porto, Portugal' 'Female' '24/03/1988' '$4302.66']
[77 'Granja, Viseu, Portugal' 'Male' '11/01/1987' '$1586.61']
[77, 193]
10
[92 'Nantes, Pays de la Loire, France' 'Male' '26/01/2004' '$5054.87']
[78 'San Bernardino, California, United States' 'Female' '21/07/2000'
 '$6964.99']
[78, 92]

439
[555 'Fort Worth, Texas, United States' 'Female' '18/12/1986' '$2926.75']
[79 'Kamsack, Saskatchewan, Canada' 'Male' '28/06/1998' '$4094.94']
[79, 555]
6
[88 'Nogueira da Regedoura, Aveiro, Portugal' 'Male' '10/05/1997'
 '$1247.98']
[80 'Altona, Manitoba, Canada' 'Female' '27/01/2007' '$983.67']
[80, 88]
230
[340 'Fleury-les-Aubrais, Centre, France' 'Female' '27/04/2010' '$2902.49']
[81 'Lazaro Cardenas, Oaxaca, Mexico' 'Female' '07/09/2009' '$2858.06']
[81, 340]
99
[202 'Noyelles-sous-Lens, Nord-Pas-de-Calais, France' 'Male' '22/06/2001'
 '$3316.55']
[83 'Göteborg, Västra Götaland, Sweden' 'Male' '24/08/1999' '$5383.93']
[83, 202]
158
[267 'Macieira de Rates, Braga, Portugal' 'Male' '05/10/1981' '$1305.29']
[85 'Montalegre, Vila Real, Portugal' 'Male' '02/05/1999' '$6999.54']
[85, 267]
318
[439 'Lyon, Rhône-Alpes, France' 'Female' '18/06/1991' '$6410.80']
[86 'Paris 09, Île-de-France, France' 'Male' '05/05/2008' '$4254.84']
[86, 439]
46
[145 'Laúndos, Porto, Portugal' 'Female' '06/10/2009' '$1665.32']
[87 'Örebro, Örebro, Sweden' 'Female' '04/09/1988' '$6144.12']
[87, 145]
28
[127 'Denver, Colorado, United States' 'Male' '16/03/2001' '$6553.93']
[89 'Carman, Manitoba, Canada' 'Female' '20/07/2004' '$7209.03']
[89, 127]
195
[314 'Brant, Ontario, Canada' 'Male' '24/06/1981' '$5453.13']
[93 'Evansville, Indiana, United States' 'Female' '16/09/2000' '$1676.91']
[93, 314]
23
[123 'Regueiro, Viana do Castelo, Portugal' 'Female' '10/06/1984'
 '$5788.73']
[94 'Cepões, Viseu, Portugal' 'Female' '25/10/1980' '$7622.47']
[94, 123]
693
[839 'Stockholm, Stockholm, Sweden' 'Female' '18/11/1997' '$1624.94']
[95 'Nässjö, Jönköping, Sweden' 'Male' '23/02/2010' '$2260.68']
[95, 839]
104
[221 'Trélissac, Aquitaine, France' 'Female' '20/03/1995' '$5475.66']
[96 'Lysekil, Västra Götaland, Sweden' 'Male' '18/03/1996' '$4862.69']
[96, 221]
427
[566 'Morelos, Mexico, Mexico' 'Female' '24/12/2001' '$5229.44']
[97 'Vagney, Lorraine, France' 'Female' '19/03/2010' '$7595.55']
[97, 566]
340
[476 'Rocky Mountain House, Alberta, Canada' 'Female' '21/07/2001'
 '$7801.31']
[98 'Feteira Grande, Ilha de São Miguel, Portugal' 'Male' '03/12/1995'
 '$4389.71']
[98, 476]
636
[787 'Tyringe, Skåne, Sweden' 'Female' '03/03/2004' '$7475.57']
[99 'Vällingby, Stockholm, Sweden' 'Female' '20/03/2009' '$2293.48']
[99, 787]
30
[140 'Trollhättan, Västra Götaland, Sweden' 'Female' '28/08/2008'
 '$7268.00']
[101 "Saint-Laurent-du-Var, Provence-Alpes-Côte d'Azur, France" 'Female'
 '20/01/1993' '$6974.65']
[101, 140]
220
[353 'Sacramento, California, United States' 'Male' '17/01/1981'
 '$3362.11']
[102 'Järfälla, Stockholm, Sweden' 'Female' '06/05/2005' '$5609.60']
[102, 353]
192
[325 'Vilhelmina, Västerbotten, Sweden' 'Male' '07/09/1999' '$1611.42']
[103 'Sundsvall, Västernorrland, Sweden' 'Male' '30/03/2004' '$6963.88']
[103, 325]
38
[154 'Francisco Villa, Veracruz Llave, Mexico' 'Male' '30/03/1999'
 '$4430.56']
[104 'Boden, Norrbotten, Sweden' 'Male' '14/06/1981' '$2161.64']
[104, 154]
193
[330 'Arão, Viana do Castelo, Portugal' 'Male' '19/05/1982' '$3783.40']
[105 'Pasadena, Newfoundland and Labrador, Canada' 'Female' '03/06/1984'
 '$7913.17']
[105, 330]
73
[198 'Kissimmee, Florida, United States' 'Male' '26/11/2008' '$5236.49']
[106 'Emiliano Zapata, Michoacan De Ocampo, Mexico' 'Male' '10/09/1994'
 '$6686.36']
[106, 198]
670
[837 'Stockholm, Stockholm, Sweden' 'Female' '14/05/1998' '$5338.30']
[107 'Cobre, Lisboa, Portugal' 'Male' '25/01/1983' '$6691.57']
[107, 837]
606
[769 'Vilarelho, Viana do Castelo, Portugal' 'Female' '13/05/2000'
 '$4466.02']
[108 'Sobreira, Braga, Portugal' 'Male' '26/12/2003' '$7386.55']
[108, 769]
112
[246 'Lagunillas, Jalisco, Mexico' 'Male' '06/11/1986' '$3989.06']
[110 'Skellefteå, Västerbotten, Sweden' 'Female' '11/07/2000' '$3615.07']
[110, 246]
103
[238 'Lunéville, Lorraine, France' 'Male' '24/10/2003' '$4105.04']
[111 'Lamas, Porto, Portugal' 'Female' '20/04/1985' '$1488.42']
[111, 238]
22
[143 'Mörrum, Blekinge, Sweden' 'Male' '23/04/2000' '$5745.78']
[114 'Saint-Raymond, Québec, Canada' 'Male' '02/12/1990' '$6642.44']
[114, 143]
359
[521 'Tassin-la-Demi-Lune, Rhône-Alpes, France' 'Female' '11/04/1989'
 '$1355.25']
[115 'Francisco I Madero, Zacatecas, Mexico' 'Male' '19/11/1997'
 '$4077.84']
[115, 521]
510
[679 'Aurillac, Auvergne, France' 'Female' '04/06/1995' '$3227.73']
[117 'Hässelby, Stockholm, Sweden' 'Male' '12/02/1983' '$7922.29']
[117, 679]
39
[168 'Köping, Västmanland, Sweden' 'Female' '18/08/2003' '$7582.88']
[118 'Vicente Guerrero, Veracruz Llave, Mexico' 'Female' '09/09/1981'
 '$6340.24']
[118, 168]
68
[206 'Saint-Lô, Basse-Normandie, France' 'Female' '29/01/1987' '$2422.65']
[119 'Passagem, Leiria, Portugal' 'Female' '01/01/2003' '$2137.01']
[119, 206]
281
[444 'Täby, Stockholm, Sweden' 'Female' '08/11/1987' '$5057.22']
[120 'Vermoim, Braga, Portugal' 'Male' '17/04/1984' '$1558.87']
[120, 444]
266
[428 'Metz, Lorraine, France' 'Male' '20/03/1982' '$2458.05']
[121 'Corujeira, Porto, Portugal' 'Female' '17/01/2002' '$1973.45']
[121, 428]
218
[379 'Sotteville-lès-Rouen, Haute-Normandie, France' 'Female' '16/05/1989'
 '$4400.91']
[124 'Francos, Lisboa, Portugal' 'Male' '11/10/1980' '$6314.95']
[124, 379]
550
[733 'Couto, Braga, Portugal' 'Female' '02/07/1982' '$2880.77']
[126 'Boavista, Aveiro, Portugal' 'Male' '17/01/1981' '$7973.93']
[126, 733]
77
[224 'Carrascal, Lisboa, Portugal' 'Male' '02/02/1991' '$6417.75']
[128 'Morris, Manitoba, Canada' 'Male' '12/11/2004' '$1129.83']
[128, 224]
541
[726 'Mölndal, Västra Götaland, Sweden' 'Male' '17/05/2001' '$5977.38']
[129 'Saint-Avertin, Centre, France' 'Male' '01/07/1988' '$5485.14']
[129, 726]
225
[392 'Boulogne-Billancourt, Île-de-France, France' 'Male' '19/01/1998'
 '$6769.72']
[130 'Bom Sucesso, Lisboa, Portugal' 'Male' '28/05/2007' '$4578.33']
[130, 392]
47
[189 'West Palm Beach, Florida, United States' 'Female' '30/08/1989'
 '$2495.07']
[131 'Freixo de Numão, Guarda, Portugal' 'Female' '14/01/2000' '$5737.46']
[131, 189]
12
[149 'Cruz, Viseu, Portugal' 'Male' '18/11/1984' '$7345.49']
[132 'Bondy, Île-de-France, France' 'Male' '14/01/1994' '$4879.99']
[132, 149]
3
[137 'Le Havre, Haute-Normandie, France' 'Female' '14/02/2002' '$6889.74']
[133 'Söderköping, Östergötland, Sweden' 'Female' '12/10/1994' '$4966.48']
[133, 137]
87
[247 'Norrköping, Östergötland, Sweden' 'Female' '15/07/2000' '$3800.57']
[135 'Uppsala, Uppsala, Sweden' 'Female' '11/01/2008' '$4109.65']
[135, 247]
692
[905 'Daytona Beach, Florida, United States' 'Female' '05/10/2000'
 '$5196.14']
[136 'Stockholm, Stockholm, Sweden' 'Male' '16/06/1999' '$6492.17']
[136, 905]
771
[986 'Hallsberg, Örebro, Sweden' 'Female' '16/10/1985' '$6173.77']
[138 'Alvesta, Kronoberg, Sweden' 'Female' '12/12/1994' '$1916.17']
[138, 986]
298
[485 'Eskilstuna, Södermanland, Sweden' 'Female' '03/02/2003' '$886.98']
[139 'Campelos, Lisboa, Portugal' 'Male' '22/02/1996' '$6026.38']
[139, 485]
45
[200 'Åkersberga, Stockholm, Sweden' 'Male' '02/03/1989' '$6874.81']
[141 "Marseille, Provence-Alpes-Côte d'Azur, France" 'Female' '04/02/1985'
 '$1238.66']
[141, 200]
259
[447 'Langres, Champagne-Ardenne, France' 'Female' '12/10/1993' '$5796.92']
[142 'Vicente Guerrero, Puebla, Mexico' 'Male' '06/02/1991' '$3076.92']
[142, 447]
514
[717 'Memphis, Tennessee, United States' 'Female' '23/03/1997' '$2306.02']
[144 'Lavaltrie, Québec, Canada' 'Female' '21/02/1997' '$4240.55']
[144, 717]
426
[629 'Norberg, Västmanland, Sweden' 'Male' '21/07/1987' '$1846.26']
[146 'Smedjebacken, Dalarna, Sweden' 'Male' '03/08/1988' '$1574.30']
[146, 629]
44
[205 'Sainte-Anne-des-Monts, Québec, Canada' 'Female' '05/11/1982'
 '$3027.02']
[148 'Colares, Lisboa, Portugal' 'Female' '07/08/1981' '$5751.78']
[148, 205]
658
[885 'Visby, Gotland, Sweden' 'Female' '08/10/2006' '$3420.93']
[150 'Paris 12, Île-de-France, France' 'Female' '03/09/1993' '$4480.55']
[150, 885]
166
[349 'Angers, Pays de la Loire, France' 'Female' '07/01/2000' '$7274.50']
[151 'Chenôve, Bourgogne, France' 'Male' '08/02/2004' '$4907.54']
[151, 349]
32
[191 'Levallois-Perret, Île-de-France, France' 'Female' '03/08/2007'
 '$3525.88']
[152 'Ormstown, Québec, Canada' 'Female' '24/11/1993' '$5727.15']
[152, 191]
105
[284 'Albany, New York, United States' 'Female' '17/07/1981' '$5953.02']
[153 'Independencia, Coahuila De Zaragoza, Mexico' 'Female' '16/06/1996'
 '$1144.42']
[153, 284]
107
[288 'Boucinha, Braga, Portugal' 'Male' '03/12/1996' '$1657.74']
[155 'Boden, Norrbotten, Sweden' 'Male' '07/04/2006' '$3003.76']
[155, 288]
213
[409 'Catalina, Newfoundland and Labrador, Canada' 'Female' '09/10/1985'
 '$3993.28']
[156 'Agrela, Viana do Castelo, Portugal' 'Male' '20/03/1990' '$1245.80']
[156, 409]
147
[337 'Biscoitos, Ilha Terceira, Portugal' 'Male' '25/10/1994' '$7857.47']
[157 'Santa Elena, Chiapas, Mexico' 'Female' '23/09/1989' '$7018.06']
[157, 337]
67
[245 'Jackson, Mississippi, United States' 'Female' '01/11/2005'
 '$3112.29']
[158 'Santa Fe, Nuevo Leon, Mexico' 'Male' '25/03/2008' '$3602.31']
[158, 245]
368
[588 'Täby, Stockholm, Sweden' 'Male' '19/12/1995' '$3372.24']
[159 'Bordeaux, Aquitaine, France' 'Male' '17/02/2001' '$7665.32']
[159, 588]
181
[382 'Karlstad, Värmland, Sweden' 'Female' '17/06/1985' '$3014.90']
[160 'Torbay, Newfoundland and Labrador, Canada' 'Female' '14/07/1985'
 '$5677.54']
[160, 382]
15
[181 'Maganha, Porto, Portugal' 'Female' '20/05/1996' '$3296.00']
[162 'Tulsa, Oklahoma, United States' 'Male' '28/05/2005' '$2729.76']
[162, 181]
9
[175 'Lombo Meão, Aveiro, Portugal' 'Male' '20/08/2002' '$7540.04']
[163 'Njurunda, Västernorrland, Sweden' 'Female' '26/10/1984' '$2809.72']
[163, 175]
245
[461 'La Virgen, Mexico, Mexico' 'Male' '14/12/2001' '$7814.46']
[164 'Pickering, Ontario, Canada' 'Male' '31/03/1995' '$6383.39']
[164, 461]
12
[183 'Eskilstuna, Södermanland, Sweden' 'Male' '25/05/1990' '$7175.98']
[165 'Loureiro, Braga, Portugal' 'Female' '15/01/2001' '$7327.12']
[165, 183]
629
[883 'Watrous, Saskatchewan, Canada' 'Female' '13/06/2004' '$7039.05']
[166 'Portela, Viana do Castelo, Portugal' 'Female' '13/01/1990'
 '$3878.76']
[166, 883]
346
[577 'Nîmes, Languedoc-Roussillon, France' 'Female' '06/06/2002'
 '$7213.98']
[167 'Chouto, Santarém, Portugal' 'Male' '24/05/1990' '$6680.18']
[167, 577]
18
[197 'Västerås, Västmanland, Sweden' 'Male' '10/07/1990' '$4682.04']
[169 'Francisco Villa, Veracruz Llave, Mexico' 'Male' '12/05/2003'
 '$4663.81']
[169, 197]
204
[420 'Midland, Ontario, Canada' 'Female' '27/07/1994' '$7060.60']
[171 'São Mamede de Infesta, Porto, Portugal' 'Male' '28/05/1995'
 '$6584.92']
[171, 420]
703
[967 'Arroyo Seco, Guerrero, Mexico' 'Female' '14/10/1996' '$1780.40']
[172 'Morgados, Setúbal, Portugal' 'Male' '07/10/1985' '$5932.94']
[172, 967]
366
[607 'Norrtälje, Stockholm, Sweden' 'Male' '10/07/1997' '$1823.14']
[174 'Denver, Colorado, United States' 'Female' '29/04/2009' '$943.67']
[174, 607]
15
[201 "Marseille, Provence-Alpes-Côte d'Azur, France" 'Female' '18/07/1981'
 '$1353.19']
[176 'Lerum, Västra Götaland, Sweden' 'Female' '26/12/1984' '$2350.70']
[176, 201]
528
[783 'Dieppe, New Brunswick, Canada' 'Male' '31/10/1986' '$1318.68']
[177 'Santulhão, Bragança, Portugal' 'Male' '01/02/2002' '$7917.34']
[177, 783]
47
[248 'Uppsala, Uppsala, Sweden' 'Male' '26/03/2008' '$2096.28']
[178 'Napanee Downtown, Ontario, Canada' 'Male' '04/09/2005' '$1319.03']
[178, 248]

332
[575 'Lazaro Cardenas, Veracruz Llave, Mexico' 'Male' '28/04/1989'
 '$996.76']
[179 'Colombes, Île-de-France, France' 'Male' '24/01/2006' '$1492.88']
[179, 575]
147
[368 'Carpalho, Leiria, Portugal' 'Male' '26/04/1989' '$1858.90']
[182 'Tulsa, Oklahoma, United States' 'Male' '17/05/2004' '$5946.05']
[182, 368]
350
[601 'Colombes, Île-de-France, France' 'Female' '09/02/1999' '$1467.94']
[184 'Couto, Braga, Portugal' 'Female' '25/04/1983' '$7046.63']
[184, 601]
54
[261 'Stockholm, Stockholm, Sweden' 'Female' '18/05/1994' '$6950.84']
[185 'Sarlat-la-Canéda, Aquitaine, France' 'Male' '26/08/2008' '$3542.00']
[185, 261]
115
[334 'Veiga, Porto, Portugal' 'Female' '06/08/2005' '$7795.42']
[186 'Norrköping, Östergötland, Sweden' 'Male' '13/02/2007' '$2411.09']
[186, 334]
637
[920 "Marseille, Provence-Alpes-Côte d'Azur, France" 'Female' '11/05/1994'
 '$2874.62']
[187 'Arcueil, Île-de-France, France' 'Male' '20/02/1995' '$5825.49']
[187, 920]
12
[212 'Évry, Île-de-France, France' 'Female' '17/04/1981' '$2654.98']
[188 'Quintães, Viana do Castelo, Portugal' 'Female' '10/12/2002'
 '$4332.69']
[188, 212]
109
[332 'New York City, New York, United States' 'Female' '15/12/2001'
 '$2622.47']
[190 'Shreveport, Louisiana, United States' 'Female' '31/01/2000'
 '$5152.79']
[190, 332]
1
[194 'Igreja, Viseu, Portugal' 'Female' '16/03/1987' '$7760.46']
[192 'Owen Sound, Ontario, Canada' 'Female' '27/06/1993' '$7096.91']
[192, 194]
34
[244 'Castelo, Porto, Portugal' 'Female' '13/03/2005' '$5283.42']
[196 'Timmins, Ontario, Canada' 'Female' '29/04/1997' '$5974.55']
[196, 244]
9
[216 'San Antonio, Texas, United States' 'Male' '01/02/1981' '$4000.92']
[199 'Petrolera, Veracruz Llave, Mexico' 'Male' '12/09/1994' '$3408.00']
[199, 216]
299
[559 'Huntington, West Virginia, United States' 'Male' '31/10/2007'
 '$2476.57']
[203 'Göteborg, Västra Götaland, Sweden' 'Female' '10/03/1994' '$7586.61']
[203, 559]
10
[220 'Newark, New Jersey, United States' 'Female' '16/03/1991' '$1329.70']
[204 'Mölndal, Västra Götaland, Sweden' 'Female' '19/02/1997' '$6062.26']
[204, 220]
572
[863 'Wilmington, Delaware, United States' 'Female' '26/08/1999'
 '$6285.14']
[207 'Santa Iria de Azóia, Lisboa, Portugal' 'Male' '26/08/2003'
 '$2866.63']
[207, 863]
63
[291 'Sélestat, Alsace, France' 'Male' '26/08/1981' '$4263.66']
[208 'Saint-Herblain, Pays de la Loire, France' 'Female' '23/07/1992'
 '$1484.69']
[208, 291]
569
[864 'Santiago dos Velhos, Lisboa, Portugal' 'Male' '19/08/2003'
 '$7660.68']
[210 'Rennes, Bretagne, France' 'Male' '05/06/2009' '$6712.81']
[210, 864]
611
[915 'Labelle, Québec, Canada' 'Male' '06/10/1986' '$5150.96']
[211 'Iqaluit, Nunavut, Canada' 'Female' '30/03/2006' '$1786.57']
[211, 915]
8
[226 'Morangis, Île-de-France, France' 'Male' '14/06/1984' '$3466.43']
[213 'Quintães, Viana do Castelo, Portugal' 'Female' '21/07/1984'
 '$7319.09']
[213, 226]
74
[310 'Erie, Pennsylvania, United States' 'Male' '21/10/1986' '$6068.22']
[215 'Silver Spring, Maryland, United States' 'Female' '22/12/1988'
 '$7157.05']
[215, 310]
194
[457 'Linhares, Porto, Portugal' 'Male' '19/01/1988' '$4590.54']
[217 'Azteca, Veracruz Llave, Mexico' 'Female' '17/10/1993' '$2071.57']
[217, 457]
12
[234 'Mont-Laurier, Québec, Canada' 'Male' '03/06/1985' '$4501.34']
[218 'Lombo Meão, Aveiro, Portugal' 'Male' '13/04/2005' '$3717.17']
[218, 234]
7
[230 'Argentan, Basse-Normandie, France' 'Female' '01/09/1989' '$1280.62']
[219 'Kindersley, Saskatchewan, Canada' 'Male' '14/10/1994' '$4511.71']
[219, 230]
4
[228 'Courbevoie, Île-de-France, France' 'Male' '27/11/1989' '$4959.20']
[222 'Mölndal, Västra Götaland, Sweden' 'Female' '12/09/1996' '$6059.58']
[222, 228]
161
[426 'Sacramento, California, United States' 'Female' '08/10/1989'
 '$6742.63']
[223 'Roanoke, Virginia, United States' 'Female' '31/07/1993' '$4241.71']
[223, 426]
129
[390 'Puteaux, Île-de-France, France' 'Male' '13/11/1990' '$7503.54']
[225 'Niverville, Manitoba, Canada' 'Female' '20/05/1998' '$979.70']
[225, 390]
107
[366 'São Paio de Gramaços, Coimbra, Portugal' 'Female' '18/12/1996'
 '$7588.24']
[227 'Porto Formoso, Ilha de São Miguel, Portugal' 'Male' '28/05/1984'
 '$4964.31']
[227, 366]
44
[287 'Swift Current, Saskatchewan, Canada' 'Male' '03/02/1988' '$3401.73']
[229 'Tibro, Västra Götaland, Sweden' 'Male' '19/02/2009' '$7665.45']
[229, 287]
147
[416 'Chilly-Mazarin, Île-de-France, France' 'Male' '11/02/2005'
 '$1174.30']
[231 'Dalmeny, Saskatchewan, Canada' 'Female' '25/06/1983' '$5469.92']
[231, 416]
418
[721 "Gardanne, Provence-Alpes-Côte d'Azur, France" 'Male' '31/08/1987'
 '$1555.57']
[232 'Colombes, Île-de-France, France' 'Female' '19/04/1981' '$3435.34']
[232, 721]
476
[792 'Azteca, Tamaulipas, Mexico' 'Male' '18/05/2000' '$3209.90']
[233 'Vale Boeiro, Setúbal, Portugal' 'Female' '02/12/1996' '$7753.83']
[233, 792]
102
[369 'Tulsa, Oklahoma, United States' 'Female' '01/01/1995' '$3480.31']
[235 'Vessada, Aveiro, Portugal' 'Female' '25/07/2005' '$4728.31']
[235, 369]
308
[612 "L'Aigle, Basse-Normandie, France" 'Male' '18/02/2007' '$2942.07']
[237 'Stapleford, England, United Kingdom' 'Female' '12/08/1996'
 '$7166.43']
[237, 612]
27
[274 'Camrose, Alberta, Canada' 'Male' '26/09/2003' '$6593.84']
[239 'Veiga, Porto, Portugal' 'Male' '01/06/1985' '$3863.39']
[239, 274]
10
[256 'Washington, District of Columbia, United States' 'Male' '16/08/1984'
 '$7827.47']
[240 'Ystad, Skåne, Sweden' 'Male' '29/06/2010' '$2969.04']
[240, 256]
44
[302 'Noyon, Picardie, France' 'Male' '20/02/1987' '$7063.28']
[241 'Olds, Alberta, Canada' 'Male' '29/06/2007' '$4910.20']
[241, 302]
171
[464 "Notre-Dame-de-l'Île-Perrot, Québec, Canada" 'Male' '21/05/2005'
 '$7600.54']
[242 'Vimmerby, Kalmar, Sweden' 'Male' '20/01/1998' '$1583.21']
[242, 464]
106
[385 'Vilhelmina, Västerbotten, Sweden' 'Female' '07/02/1982' '$6563.49']
[243 'Alingsås, Västra Götaland, Sweden' 'Female' '09/08/2002' '$4382.96']
[243, 385]
35
[296 'Degerfors, Örebro, Sweden' 'Male' '26/07/2004' '$3875.41']
[249 'Waterloo, Ontario, Canada' 'Male' '23/04/2005' '$2454.18']
[249, 296]
52
[318 'Laval, Pays de la Loire, France' 'Female' '24/06/1984' '$1350.28']
[251 'Castelões, Braga, Portugal' 'Male' '02/10/1997' '$2867.51']
[251, 318]
494
[831 'Hultsfred, Kalmar, Sweden' 'Female' '16/10/1989' '$5830.80']
[252 'New Haven, Connecticut, United States' 'Female' '03/05/1991'
 '$1899.31']
[252, 831]
409
[738 'São Bento, Braga, Portugal' 'Male' '07/08/1994' '$3868.21']
[253 'Detroit, Michigan, United States' 'Male' '30/07/1986' '$6235.09']
[253, 738]
18
[276 'Youngstown, Ohio, United States' 'Female' '04/08/1989' '$2775.31']
[254 'Santa Rosa, California, United States' 'Female' '09/04/2001'
 '$5892.17']
[254, 276]
47
[320 'Pedome, Braga, Portugal' 'Female' '28/07/1988' '$6594.48']
[255 'Stockholm, Stockholm, Sweden' 'Female' '08/04/1995' '$2007.00']
[255, 320]
34
[304 'Trenton, New Jersey, United States' 'Male' '04/07/2004' '$1342.37']
[257 'Klippan, Skåne, Sweden' 'Male' '12/04/1999' '$4542.92']
[257, 304]
28
[298 'Innisfil, Ontario, Canada' 'Female' '06/08/1988' '$2465.50']
[258 'Matos da Ranha, Leiria, Portugal' 'Male' '14/10/1987' '$5038.59']
[258, 298]
182
[497 'Paradela, Bragança, Portugal' 'Male' '29/11/1987' '$1374.14']
[259 'Ribeira Seca, Ilha de São Miguel, Portugal' 'Male' '11/12/2000'
 '$5530.59']
[259, 497]
630
[997 'Santo Aleixo, Portalegre, Portugal' 'Female' '09/02/1988' '$4772.43']
[260 'Sainte-Geneviève-des-Bois, Île-de-France, France' 'Female'
 '26/07/1990' '$7279.48']
[260, 997]
144
[454 'Bohus, Västra Götaland, Sweden' 'Male' '04/08/2001' '$6578.25']
[262 'Wasquehal, Nord-Pas-de-Calais, France' 'Male' '08/08/2008'
 '$2329.05']
[262, 454]
379
[716 'São Miguel, Porto, Portugal' 'Female' '21/09/1982' '$1708.14']
[263 'Anmore, British Columbia, Canada' 'Female' '03/06/1994' '$7760.58']
[263, 716]
159
[477 'Pereiras, Porto, Portugal' 'Female' '14/12/1995' '$4764.60']
[264 'Hallstavik, Stockholm, Sweden' 'Female' '01/11/1986' '$4664.24']
[264, 477]
392
[740 'Besançon, Franche-Comté, France' 'Male' '18/05/1989' '$3772.66']
[265 'Birmingham, Alabama, United States' 'Male' '26/03/1993' '$4300.13']
[265, 740]
243
[574 'Erie, Pennsylvania, United States' 'Female' '13/11/2005' '$3334.96']
[266 'Puteaux, Île-de-France, France' 'Male' '10/07/2006' '$7825.33']
[266, 574]
70
[367 'Porto Formoso, Ilha de São Miguel, Portugal' 'Male' '16/04/2001'
 '$6118.17']
[268 'Murça, Vila Real, Portugal' 'Female' '26/03/2006' '$2060.75']
[268, 367]
26
[308 'Nantes, Pays de la Loire, France' 'Male' '02/09/1994' '$7145.67']
[269 'Vaudreuil-Dorion, Québec, Canada' 'Male' '15/08/2002' '$3613.73']
[269, 308]
42
[335 'Linköping, Östergötland, Sweden' 'Male' '14/11/2000' '$2321.79']
[270 'Coutada, Viana do Castelo, Portugal' 'Male' '03/02/1993' '$4919.65']
[270, 335]

456
[823 'Stockholm, Stockholm, Sweden' 'Female' '29/12/1991' '$7290.49']
[271 'Kista, Stockholm, Sweden' 'Female' '12/11/1981' '$7035.04']
[271, 823]
12
[290 'Charleston, West Virginia, United States' 'Female' '22/06/1982'
 '$5750.62']
[272 'Cabanas de Viriato, Viseu, Portugal' 'Female' '29/01/1992'
 '$5919.34']
[272, 290]
32
[326 'Sundsvall, Västernorrland, Sweden' 'Male' '26/01/2004' '$4631.52']
[273 'Edinburgh, Scotland, United Kingdom' 'Female' '10/01/2008'
 '$2367.97']
[273, 326]
220
[561 'Bromma, Stockholm, Sweden' 'Male' '22/04/1992' '$5169.65']
[275 'Sebadelhe, Guarda, Portugal' 'Female' '23/06/1985' '$2854.38']
[275, 561]
489
[871 'Vila Nova de Milfontes, Beja, Portugal' 'Male' '20/06/1988'
 '$6298.92']
[277 'Los Angeles, California, United States' 'Female' '31/12/1990'
 '$1165.10']
[277, 871]
271
[626 'Cavadas, Aveiro, Portugal' 'Female' '28/11/2002' '$6310.65']
[278 'Tucson, Arizona, United States' 'Female' '28/04/1989' '$7511.52']
[278, 626]
587
[982 'Le Mans, Pays de la Loire, France' 'Male' '12/03/1994' '$1265.76']
[279 'Emiliano Zapata, Sinaloa, Mexico' 'Male' '22/06/2004' '$4531.43']
[279, 982]
138
[472 'New Hyde Park, New York, United States' 'Female' '13/04/2004'
 '$5447.94']
[280 'Nyköping, Södermanland, Sweden' 'Male' '16/03/2004' '$6630.49']
[280, 472]
322
[684 'San Francisco, California, United States' 'Male' '21/05/2009'
 '$4979.70']
[281 'Várzea, Viseu, Portugal' 'Female' '09/10/1994' '$5268.85']
[281, 684]
12
[306 'Épinal, Lorraine, France' 'Female' '27/07/1985' '$3201.59']
[282 'Grand Rapids, Michigan, United States' 'Male' '09/11/1999'
 '$1575.72']
[282, 306]
7
[300 'Carrazeda de Ansiães, Bragança, Portugal' 'Female' '10/07/1994'
 '$7467.66']
[285 'Saint-Étienne, Rhône-Alpes, France' 'Female' '16/06/1996' '$5399.22']
[285, 300]
26
[336 'Ajuda, Ilha de São Miguel, Portugal' 'Female' '03/06/1993'
 '$5532.48']
[286 'Francisco Villa, Durango, Mexico' 'Male' '05/12/1999' '$1452.90']
[286, 336]
33
[347 'Paris La Défense, Île-de-France, France' 'Female' '21/11/2009'
 '$5410.56']
[289 'Tibro, Västra Götaland, Sweden' 'Male' '19/08/2006' '$3520.57']
[289, 347]
572
[980 'Almeirim, Santarém, Portugal' 'Female' '22/04/1985' '$7982.36']
[292 'Quintãs, Viseu, Portugal' 'Female' '20/07/1992' '$6639.31']
[292, 980]
395
[780 'Louisville, Kentucky, United States' 'Female' '18/05/1988'
 '$4117.83']
[295 'Tours, Centre, France' 'Female' '28/02/1996' '$1934.60']
[295, 780]
11
[316 'Boise, Idaho, United States' 'Female' '05/08/1999' '$4924.11']
[297 'Brampton, Ontario, Canada' 'Male' '01/11/1980' '$6095.84']
[297, 316]
463
[865 'Rennes, Bretagne, France' 'Male' '02/11/1989' '$4197.51']
[299 'Amieirinha, Leiria, Portugal' 'Female' '07/11/1983' '$4776.95']
[299, 865]
103
[448 'Limoges, Limousin, France' 'Male' '24/02/1991' '$1399.34']
[301 'Saint Andrews, New Brunswick, Canada' 'Female' '16/06/1996'
 '$1693.13']
[301, 448]
386
[777 'Saginaw, Michigan, United States' 'Male' '29/07/2002' '$1175.28']
[303 'Belfort, Franche-Comté, France' 'Female' '01/06/2007' '$6827.27']
[303, 777]
251
[628 'Lyon, Rhône-Alpes, France' 'Male' '26/06/1988' '$4468.57']
[305 'Landskrona, Skåne, Sweden' 'Male' '30/11/1988' '$962.08']
[305, 628]
76
[414 'Cluses, Rhône-Alpes, France' 'Female' '03/11/1995' '$2565.78']
[307 'Noyal-sur-Vilaine, Bretagne, France' 'Male' '02/11/1999' '$5116.30']
[307, 414]
12
[329 'Stockholm, Stockholm, Sweden' 'Male' '08/04/1991' '$4912.45']
[309 'Maskinongé, Québec, Canada' 'Male' '08/03/2008' '$7816.91']
[309, 329]
85
[433 'São Mamede de Infesta, Porto, Portugal' 'Female' '11/05/2008'
 '$7233.37']
[311 'Cincinnati, Ohio, United States' 'Male' '18/09/1988' '$2843.99']
[311, 433]
34
[370 'Ribeiro, Vila Real, Portugal' 'Male' '26/05/2005' '$2106.68']
[312 'Praia do Ribatejo, Santarém, Portugal' 'Female' '27/11/2000'
 '$3375.21']
[312, 370]
217
[599 'Refojos, Braga, Portugal' 'Female' '01/06/1995' '$5848.86']
[313 'Guéret, Limousin, France' 'Female' '20/05/2003' '$5080.95']
[313, 599]
20
[351 'Charlotte, North Carolina, United States' 'Male' '10/05/1997'
 '$5366.98']
[315 'Evansville, Indiana, United States' 'Male' '13/04/1987' '$3191.09']
[315, 351]
34
[375 'Piteå, Norrbotten, Sweden' 'Male' '02/03/1988' '$2746.65']
[317 'Angus, Ontario, Canada' 'Female' '21/11/2007' '$1611.63']
[317, 375]
327
[728 'Souto, Braga, Portugal' 'Male' '14/03/1996' '$3574.50']
[321 'Tumba, Stockholm, Sweden' 'Female' '11/05/1995' '$7278.18']
[321, 728]
185
[565 'San Rafael, Michoacan De Ocampo, Mexico' 'Female' '13/11/2005'
 '$6230.34']
[322 'Tortosendo, Castelo Branco, Portugal' 'Female' '12/03/2010'
 '$5730.25']
[322, 565]
50
[400 'Lindavista, Oaxaca, Mexico' 'Female' '13/06/1990' '$3556.11']
[323 "Marseille, Provence-Alpes-Côte d'Azur, France" 'Female' '23/10/1992'
 '$5763.40']
[323, 400]
59
[412 'Independence, Missouri, United States' 'Female' '05/08/2008'
 '$1320.94']
[324 "Le Pontet, Provence-Alpes-Côte d'Azur, France" 'Male' '12/07/2003'
 '$7199.46']
[324, 412]
65
[425 'Philadelphia, Pennsylvania, United States' 'Male' '25/03/1995'
 '$1697.67']
[327 'Santa Barbara, California, United States' 'Male' '14/01/2008'
 '$6841.99']
[327, 425]
296
[701 'Newport Beach, California, United States' 'Male' '03/09/1993'
 '$953.73']
[328 'Paris 08, Île-de-France, France' 'Male' '06/03/2009' '$5216.68']
[328, 701]
299
[706 'Middleton, England, United Kingdom' 'Female' '03/01/1983' '$1569.15']
[331 'Lévis, Québec, Canada' 'Male' '18/06/1984' '$5790.08']
[331, 706]
96
[473 'Bålsta, Uppsala, Sweden' 'Female' '15/03/2004' '$5477.25']
[333 'Independence, Missouri, United States' 'Male' '24/08/2000'
 '$4095.50']
[333, 473]
32
[386 'Färgelanda, Västra Götaland, Sweden' 'Female' '20/02/2002'
 '$6869.03']
[338 'Santa Elena, Chiapas, Mexico' 'Male' '16/11/1999' '$1534.82']
[338, 386]
198
[602 'Lamoso, Porto, Portugal' 'Male' '22/04/1983' '$942.32']
[339 'Tallahassee, Florida, United States' 'Female' '04/10/1997'
 '$5428.38']
[339, 602]
83
[462 'Pickering, Ontario, Canada' 'Female' '05/09/1994' '$3688.22']
[341 'Guadalupe, Oaxaca, Mexico' 'Female' '01/05/1995' '$5563.62']
[341, 462]
147
[540 'Monte Francisco, Faro, Portugal' 'Female' '24/04/1991' '$5189.45']
[342 'Guadalupe, Chihuahua, Mexico' 'Female' '16/05/1986' '$7049.85']
[342, 540]
66
[441 'Falun, Dalarna, Sweden' 'Male' '01/10/1986' '$2881.34']
[343 'Antony, Île-de-France, France' 'Male' '05/04/1983' '$1020.66']
[343, 441]
514
[975 'Meia Via, Santarém, Portugal' 'Female' '23/06/1992' '$7816.46']
[344 'Vila Pouca da Beira, Coimbra, Portugal' 'Female' '02/02/1981'
 '$4450.49']
[344, 975]
234
[652 'Köping, Västmanland, Sweden' 'Female' '18/11/1998' '$6075.15']
[345 'Évry, Île-de-France, France' 'Male' '30/07/2000' '$2851.56']
[345, 652]
285
[709 'Sparwood, British Columbia, Canada' 'Male' '28/07/1997' '$5677.74']
[346 'Santa Maria, Coahuila De Zaragoza, Mexico' 'Female' '24/03/1998'
 '$3769.13']
[346, 709]
69
[452 'San Diego, California, United States' 'Female' '19/11/2004'
 '$7942.98']
[348 'Lidköping, Västra Götaland, Sweden' 'Female' '04/04/1990' '$4161.69']
[348, 452]
450
[916 'Nackawic, New Brunswick, Canada' 'Female' '10/03/2006' '$5372.60']
[350 'Saint Petersburg, Florida, United States' 'Female' '26/02/2004'
 '$3435.26']
[350, 916]
432
[897 'San Isidro, Guanajuato, Mexico' 'Female' '10/06/2000' '$5966.72']
[352 'Houston, Texas, United States' 'Female' '28/08/1987' '$3006.83']
[352, 897]
310
[751 'Askersund, Örebro, Sweden' 'Female' '03/03/1996' '$2172.78']
[354 'Järfälla, Stockholm, Sweden' 'Male' '28/04/1984' '$3349.35']
[354, 751]
283
[714 'Göteborg, Västra Götaland, Sweden' 'Male' '07/01/1993' '$3689.16']
[355 'Helsingborg, Skåne, Sweden' 'Female' '13/12/1982' '$1322.83']
[355, 714]
165
[580 'Stockholm, Stockholm, Sweden' 'Female' '27/09/1992' '$3358.30']
[356 'Göteborg, Västra Götaland, Sweden' 'Male' '16/06/1985' '$6881.36']
[356, 580]
464
[941 'Montluçon, Auvergne, France' 'Female' '18/04/2010' '$2118.25']
[357 'Lexington, Kentucky, United States' 'Female' '04/09/1981' '$5249.08']
[357, 941]
94
[498 'Sarzedo, Coimbra, Portugal' 'Female' '12/12/2000' '$5999.29']
[358 'Saint Paul, Minnesota, United States' 'Female' '03/11/1994'
 '$3041.78']
[358, 498]
467
[948 'Kingston, England, United Kingdom' 'Male' '06/12/1982' '$3837.29']
[359 'Umeå, Västerbotten, Sweden' 'Male' '17/07/1999' '$3109.94']
[359, 948]
96
[503 'Killarney, Manitoba, Canada' 'Male' '15/11/1986' '$3502.45']
[360 'Rezé, Pays de la Loire, France' 'Male' '18/12/1996' '$4354.51']
[360, 503]
54
[445 'Vermoim, Braga, Portugal' 'Female' '26/02/1986' '$2309.35']
[361 'São Paio de Gramaços, Coimbra, Portugal' 'Female' '31/12/1992'
 '$2849.06']
[361, 445]
63
[463 'Buenavista, Oaxaca, Mexico' 'Male' '20/12/1995' '$959.80']
[363 'Stockholm, Stockholm, Sweden' 'Female' '15/07/1985' '$1145.67']
[363, 463]
33
[413 "Istres, Provence-Alpes-Côte d'Azur, France" 'Female' '09/10/2003'
 '$6183.10']
[365 'Besançon, Franche-Comté, France' 'Female' '02/08/1999' '$6940.06']
[365, 413]
3
[374 'Portela, Leiria, Portugal' 'Male' '17/04/1995' '$2582.92']
[371 'Zibreira, Santarém, Portugal' 'Female' '12/10/2000' '$5964.41']
[371, 374]
7
[383 'Edson, Alberta, Canada' 'Female' '10/07/1985' '$4468.31']
[372 'Chambéry, Rhône-Alpes, France' 'Female' '07/06/2001' '$3747.55']
[372, 383]
196
[640 'Saint-Jean-de-Védas, Languedoc-Roussillon, France' 'Female'
 '16/08/2003' '$1336.07']
[373 'Cruzeiro, Porto, Portugal' 'Male' '13/08/1982' '$6067.37']
[373, 640]
23
[407 'Göteborg, Västra Götaland, Sweden' 'Female' '30/03/1986' '$5891.65']
[376 'Atikokan, Ontario, Canada' 'Female' '14/10/2000' '$4938.67']
[376, 407]
52
[460 'Penedo, Porto, Portugal' 'Male' '26/02/1997' '$2932.96']
[377 'Hägersten, Stockholm, Sweden' 'Female' '03/01/1994' '$2943.14']
[377, 460]
45
[451 'Loivos, Vila Real, Portugal' 'Male' '18/04/2005' '$4370.17']
[378 'Göteborg, Västra Götaland, Sweden' 'Male' '06/09/2003' '$2946.37']
[378, 451]
54
[470 'Sarzedo, Coimbra, Portugal' 'Male' '27/08/1994' '$1809.17']
[380 'Lordelo, Braga, Portugal' 'Male' '02/10/1980' '$6267.86']
[380, 470]
3
[388 'Falun, Dalarna, Sweden' 'Male' '13/09/1993' '$1455.74']
[381 'Vale de Figueira, Lisboa, Portugal' 'Female' '22/05/2004' '$3639.38']
[381, 388]
49
[468 'Fort Lauderdale, Florida, United States' 'Female' '22/06/1998'
 '$4324.50']
[384 'Cluses, Rhône-Alpes, France' 'Male' '22/11/1998' '$1191.22']
[384, 468]
52
[479 'Charleston, West Virginia, United States' 'Female' '03/08/1991'
 '$1288.62']
[387 'Guadalupe, Chiapas, Mexico' 'Female' '10/09/1995' '$3667.75']
[387, 479]
345
[836 "Villefranche-sur-Mer, Provence-Alpes-Côte d'Azur, France" 'Female'
 '19/10/1989' '$7068.52']
[389 'Casal de Cambra, Lisboa, Portugal' 'Male' '15/12/1997' '$4461.88']
[389, 836]
149
[604 'Albergaria, Coimbra, Portugal' 'Female' '23/07/2000' '$3399.67']
[391 'Irricana, Alberta, Canada' 'Male' '09/05/1998' '$4675.13']
[391, 604]

53
[484 'Boston, Massachusetts, United States' 'Male' '17/04/1981' '$5002.09']
[393 'Estribeiro, Lisboa, Portugal' 'Female' '25/09/2007' '$6191.96']
[393, 484]
26
[435 'Achadinha, Ilha de São Miguel, Portugal' 'Female' '02/09/1988'
 '$1426.01']
[394 'Irving, Texas, United States' 'Female' '14/01/1985' '$7700.50']
[394, 435]
6
[402 'Dalsjöfors, Västra Götaland, Sweden' 'Male' '28/11/1985' '$6436.46']
[395 'Ussel, Limousin, France' 'Male' '13/03/1986' '$3988.74']
[395, 402]
67
[510 'Vidual, Coimbra, Portugal' 'Female' '20/05/1983' '$7453.73']
[396 'Staffanstorp, Skåne, Sweden' 'Male' '20/10/1983' '$6293.42']
[396, 510]
353
[859 'Paris 18, Île-de-France, France' 'Female' '26/08/2005' '$4725.00']
[397 'Austin, Texas, United States' 'Female' '06/10/1982' '$3358.51']
[397, 859]
39
[471 'Portel, Évora, Portugal' 'Female' '01/10/1980' '$3090.80']
[398 'Indianapolis, Indiana, United States' 'Female' '19/06/1995'
 '$5116.24']
[398, 471]
264
[757 'Bellevue, Washington, United States' 'Male' '04/11/1984' '$5411.17']
[399 'Orléans, Centre, France' 'Female' '15/11/2005' '$1242.05']
[399, 757]
23
[442 'Antony, Île-de-France, France' 'Female' '10/12/1986' '$2918.64']
[401 "Marseille, Provence-Alpes-Côte d'Azur, France" 'Female' '30/01/1991'
 '$2772.86']
[401, 442]
18
[436 'Irving, Texas, United States' 'Male' '11/10/1986' '$1059.41']
[403 'Nogent-le-Rotrou, Centre, France' 'Female' '25/03/1986' '$976.45']
[403, 436]
7
[417 'Erie, Pennsylvania, United States' 'Female' '29/06/1983' '$3201.71']
[404 'Emiliano Zapata, Michoacan De Ocampo, Mexico' 'Female' '28/10/2006'
 '$7184.92']
[404, 417]
26
[459 'Sete Cidades, Ilha de São Miguel, Portugal' 'Female' '06/05/1988'
 '$4126.56']
[405 'Laholm, Halland, Sweden' 'Female' '07/10/1998' '$4576.59']
[405, 459]
23
[456 'Maple Creek, Saskatchewan, Canada' 'Male' '28/09/1986' '$7689.46']
[406 'La Esperanza, Guerrero, Mexico' 'Male' '15/02/1984' '$7303.77']
[406, 456]
79
[541 'Cleveland, Ohio, United States' 'Female' '23/05/1986' '$7694.59']
[408 'Infonavit, San Luis Potosi, Mexico' 'Female' '14/10/2000' '$1126.55']
[408, 541]
104
[576 'Paris 11, Île-de-France, France' 'Female' '30/01/2006' '$1907.75']
[410 'Armação de Pêra, Faro, Portugal' 'Female' '20/03/1990' '$1610.27']
[410, 576]
86
[551 'Monte de Trigo, Évora, Portugal' 'Male' '20/06/2009' '$3078.97']
[411 'Los Angeles, Sinaloa, Mexico' 'Female' '29/08/2003' '$1095.44']
[411, 551]
41
[500 'Constance, Porto, Portugal' 'Female' '13/09/1990' '$5823.77']
[415 'Lannion, Bretagne, France' 'Male' '13/08/1999' '$6856.56']
[415, 500]
97
[572 'Strasbourg, Alsace, France' 'Female' '13/01/1987' '$3445.67']
[418 'La Palma, Michoacan De Ocampo, Mexico' 'Male' '26/11/1989'
 '$2344.10']
[418, 572]
106
[590 'Bayeux, Basse-Normandie, France' 'Female' '27/10/1985' '$5772.96']
[419 'Torsås, Kalmar, Sweden' 'Female' '28/06/2007' '$7478.53']
[419, 590]
18
[466 'Springfield, Massachusetts, United States' 'Female' '09/04/2002'
 '$1041.43']
[421 'Vilela, Porto, Portugal' 'Female' '29/05/1995' '$948.41']
[421, 466]
416
[970 'Svalöv, Skåne, Sweden' 'Female' '06/01/2002' '$1798.82']
[422 'Limoges, Limousin, France' 'Male' '25/12/1998' '$4491.03']
[422, 970]
166
[667 'Eksjö, Jönköping, Sweden' 'Female' '24/01/1997' '$4718.05']
[427 'San Diego, California, United States' 'Male' '29/07/1993' '$2795.69']
[427, 667]
54
[526 'Stockholm, Stockholm, Sweden' 'Female' '10/05/1996' '$6416.83']
[429 'Charneca da Cotovia, Setúbal, Portugal' 'Female' '23/01/2002'
 '$7649.68']
[429, 526]
286
[820 'Aubenas, Rhône-Alpes, France' 'Female' '23/08/1992' '$5447.93']
[430 'Vila Nova de Milfontes, Beja, Portugal' 'Male' '20/02/1982'
 '$7296.43']
[430, 820]
418
[983 'El Mirador, Distrito Federal, Mexico' 'Female' '06/06/2004'
 '$7048.51']
[431 'Lama, Braga, Portugal' 'Male' '07/03/2008' '$2142.15']
[431, 983]
289
[827 'Göteborg, Västra Götaland, Sweden' 'Female' '23/07/2005' '$4148.82']
[432 'Napierville, Québec, Canada' 'Female' '04/09/1992' '$4234.16']
[432, 827]
117
[619 'Seixal, Setúbal, Portugal' 'Female' '24/05/1988' '$1404.57']
[437 'Orléans, Centre, France' 'Male' '15/11/2009' '$7519.69']
[437, 619]
243
[774 'Chão, Viana do Castelo, Portugal' 'Male' '04/10/2007' '$7313.37']
[438 'Gainesville, Florida, United States' 'Male' '27/10/1991' '$5721.70']
[438, 774]
165
[676 'Tavira, Faro, Portugal' 'Female' '09/06/2009' '$3483.46']
[440 'Paris 09, Île-de-France, France' 'Female' '07/06/1984' '$5823.97']
[440, 676]
56
[536 'Hallsberg, Örebro, Sweden' 'Female' '28/07/2001' '$3625.99']
[443 "Nice, Provence-Alpes-Côte d'Azur, France" 'Male' '11/03/1995'
 '$2208.72']
[443, 536]
375
[945 'Créteil, Île-de-France, France' 'Female' '20/09/1987' '$5511.34']
[446 'Almalaguês, Coimbra, Portugal' 'Female' '12/11/2005' '$6172.13']
[446, 945]
225
[760 'Charlotte, North Carolina, United States' 'Male' '08/01/1986'
 '$2697.06']
[449 'Fornos, Aveiro, Portugal' 'Female' '22/06/1996' '$2981.49']
[449, 760]
42
[524 'Drummondville, Québec, Canada' 'Female' '08/03/1998' '$3976.35']
[450 'Sydney Mines, Nova Scotia, Canada' 'Male' '04/03/2002' '$5937.25']
[450, 524]
215
[752 'Saltsjöbaden, Stockholm, Sweden' 'Female' '13/11/1984' '$3765.74']
[453 'Göteborg, Västra Götaland, Sweden' 'Male' '12/08/1990' '$7924.89']
[453, 752]
234
[779 'Bonneuil-sur-Marne, Île-de-France, France' 'Female' '23/12/1986'
 '$7474.04']
[455 'Wasquehal, Nord-Pas-de-Calais, France' 'Female' '03/08/2005'
 '$4518.41']
[455, 779]
18
[494 'Saguenay, Québec, Canada' 'Female' '10/06/1987' '$5427.64']
[458 'Dante Delgado, Veracruz Llave, Mexico' 'Female' '25/08/1984'
 '$7741.81']
[458, 494]
113
[632 'Farsta, Stockholm, Sweden' 'Female' '07/03/2002' '$1609.66']
[465 'Stockholm, Stockholm, Sweden' 'Female' '01/01/1998' '$2909.91']
[465, 632]
105
[622 'Santa Iria de Azóia, Lisboa, Portugal' 'Female' '13/02/1989'
 '$5191.05']
[467 'Ladário, Porto, Portugal' 'Female' '19/04/2003' '$4930.40']
[467, 622]
213
[761 'Fonte Boa dos Nabos, Lisboa, Portugal' 'Male' '30/06/1996'
 '$6063.49']
[469 'Lyon, Rhône-Alpes, France' 'Male' '20/03/1998' '$6223.79']
[469, 761]
96
[614 'Ribas, Porto, Portugal' 'Female' '13/08/1985' '$3248.92']
[474 'Kansas City, Missouri, United States' 'Male' '14/08/1995' '$2946.19']
[474, 614]
251
[815 'Donnacona, Québec, Canada' 'Female' '27/06/2005' '$1032.14']
[478 'Älvsjö, Stockholm, Sweden' 'Female' '13/12/1986' '$5373.09']
[478, 815]
34
[528 'Milton, Ontario, Canada' 'Male' '26/01/1995' '$6983.95']
[480 'San Isidro, Chiapas, Mexico' 'Female' '20/03/2005' '$6825.59']
[480, 528]
3
[486 'Campelos, Lisboa, Portugal' 'Male' '14/05/1994' '$2437.75']
[481 'Eido, Porto, Portugal' 'Female' '31/07/1983' '$7130.79']
[481, 486]
102
[633 'Svalöv, Skåne, Sweden' 'Female' '12/01/1998' '$7553.46']
[482 'Summerland, British Columbia, Canada' 'Male' '17/04/1982' '$1653.38']
[482, 633]
55
[560 'Bengtsfors, Västra Götaland, Sweden' 'Male' '15/03/1994' '$5726.93']
[483 'Fovissste, Guerrero, Mexico' 'Female' '18/06/1985' '$7525.73']
[483, 560]
222
[794 'Sunnyvale, California, United States' 'Male' '20/01/1988' '$3621.99']
[487 'Fonte, Porto, Portugal' 'Male' '01/07/1999' '$3392.24']
[487, 794]
1
[489 'Mérignac, Aquitaine, France' 'Female' '11/06/1986' '$4783.94']
[488 'Sioux Falls, South Dakota, United States' 'Male' '24/10/1984'
 '$5910.48']
[488, 489]
165
[712 'Svedala, Skåne, Sweden' 'Male' '18/03/1986' '$1909.73']
[490 'Washington, District of Columbia, United States' 'Female'
 '04/07/1988' '$4199.58']
[490, 712]
5
[501 "Avignon, Provence-Alpes-Côte d'Azur, France" 'Female' '28/05/1999'
 '$1622.32']
[491 'Göteborg, Västra Götaland, Sweden' 'Female' '19/05/1992' '$5268.12']
[491, 501]
302
[904 'Famões, Lisboa, Portugal' 'Male' '09/07/1998' '$2381.31']
[492 'Kalix, Norrbotten, Sweden' 'Male' '20/02/1999' '$4632.50']
[492, 904]
58
[582 'Nîmes, Languedoc-Roussillon, France' 'Female' '05/04/1996'
 '$1958.82']
[493 'Coaticook, Québec, Canada' 'Female' '20/06/1981' '$6657.46']
[493, 582]
221
[804 'Lidköping, Västra Götaland, Sweden' 'Female' '22/07/2004' '$4306.65']
[496 'Pemex, Veracruz Llave, Mexico' 'Female' '07/06/2008' '$7048.06']
[496, 804]
294
[901 'Paris 14, Île-de-France, France' 'Female' '06/06/2002' '$5198.50']
[499 'Newport News, Virginia, United States' 'Female' '11/08/1994'
 '$2781.81']
[499, 901]
1
[504 'Montreuil, Île-de-France, France' 'Female' '30/07/1996' '$7410.13']
[502 'Torslanda, Västra Götaland, Sweden' 'Female' '14/01/1992' '$6651.08']
[502, 504]
9
[516 'Rungis, Île-de-France, France' 'Male' '28/10/2007' '$3533.25']
[505 'Svenljunga, Västra Götaland, Sweden' 'Male' '04/03/1989' '$3218.09']
[505, 516]
180
[754 'Bengtsfors, Västra Götaland, Sweden' 'Male' '29/01/1987' '$5039.13']
[507 'Katrineholm, Södermanland, Sweden' 'Male' '08/05/1982' '$7783.26']
[507, 754]
25
[543 'Monte do Outeiro, Évora, Portugal' 'Female' '02/08/1982' '$4052.82']
[508 'Gjoa Haven, Nunavut, Canada' 'Male' '31/12/2005' '$3918.00']
[508, 543]
30
[550 'Jardia, Setúbal, Portugal' 'Female' '07/08/1997' '$3572.00']
[509 'Lattes, Languedoc-Roussillon, France' 'Male' '14/06/1992' '$6363.88']
[509, 550]
218
[816 'Bromma, Stockholm, Sweden' 'Female' '19/04/1986' '$7701.36']
[511 'Trelleborg, Skåne, Sweden' 'Female' '16/10/1990' '$1900.48']
[511, 816]
346
[978 'Orléans, Centre, France' 'Male' '23/10/1996' '$5620.85']
[512 'Barroco, Porto, Portugal' 'Female' '08/07/2008' '$5866.61']
[512, 978]
15
[534 'Vales, Viseu, Portugal' 'Female' '09/07/1987' '$1367.51']
[513 'Olival, Santarém, Portugal' 'Male' '27/03/1998' '$6954.30']
[513, 534]
68
[621 'Château-Richer, Québec, Canada' 'Male' '08/06/2006' '$5871.22']
[514 'Pobral, Lisboa, Portugal' 'Male' '13/09/2003' '$6760.76']
[514, 621]
8
[529 'Las Flores, Coahuila De Zaragoza, Mexico' 'Male' '30/06/2005'
 '$2435.84']
[515 'Vegreville, Alberta, Canada' 'Female' '31/05/2001' '$3909.93']
[515, 529]
150
[730 'Lidingö, Stockholm, Sweden' 'Female' '11/12/2007' '$2385.96']
[517 'Linköping, Östergötland, Sweden' 'Female' '05/02/1989' '$1370.53']
[517, 730]
30
[567 'Ajaccio, Corse, France' 'Male' '06/03/2010' '$1824.90']
[519 'Rueil-Malmaison, Île-de-France, France' 'Male' '21/06/2010'
 '$3645.69']
[519, 567]
131
[704 'Lidingö, Stockholm, Sweden' 'Female' '26/05/2008' '$939.87']
[520 'Cergy-Pontoise, Île-de-France, France' 'Female' '20/03/1983'
 '$6872.51']
[520, 704]
87
[656 'Casais de Revelhos, Santarém, Portugal' 'Female' '12/10/1991'
 '$4371.91']
[522 'Metz, Lorraine, France' 'Female' '09/11/1997' '$6428.54']
[522, 656]
167
[766 'Oliveirinha, Aveiro, Portugal' 'Male' '18/04/1982' '$962.88']
[523 'Guilherand-Granges, Rhône-Alpes, France' 'Female' '05/11/2000'
 '$5368.06']
[523, 766]
59
[623 'Seixo Alvo, Porto, Portugal' 'Male' '19/06/2003' '$7779.56']
[525 'Oromocto, New Brunswick, Canada' 'Female' '29/05/2002' '$1403.76']
[525, 623]
229
[856 'Amiens, Picardie, France' 'Female' '30/08/2006' '$7606.13']
[527 'Igreja, Aveiro, Portugal' 'Female' '29/06/2002' '$4713.83']
[527, 856]
220
[848 'Buenos Aires, Veracruz Llave, Mexico' 'Male' '05/04/1995' '$7844.90']
[530 'Coaldale, Alberta, Canada' 'Male' '22/08/1995' '$3609.17']
[530, 848]
30
[583 'Magog, Québec, Canada' 'Male' '25/03/1994' '$7753.78']
[531 "Cannes, Provence-Alpes-Côte d'Azur, France" 'Female' '21/12/1984'
 '$6860.11']
[531, 583]
150
[750 'Orsay, Île-de-France, France' 'Female' '22/12/2006' '$2561.84']
[532 'Säffle, Värmland, Sweden' 'Female' '06/11/1990' '$6509.58']
[532, 750]
205
[834 'Sheffield, England, United Kingdom' 'Male' '28/11/1984' '$6517.73']
[533 'Fort Worth, Texas, United States' 'Male' '01/04/1981' '$6749.17']
[533, 834]
114
[698 'Selmes, Beja, Portugal' 'Male' '19/02/1994' '$2533.59']
[535 'Parreira, Santarém, Portugal' 'Female' '20/10/1980' '$1653.56']
[535, 698]
177
[801 'Arvika, Värmland, Sweden' 'Male' '08/12/2005' '$5443.77']
[537 "Nice, Provence-Alpes-Côte d'Azur, France" 'Male' '02/03/2003'
 '$1466.87']
[537, 801]
21
[573 'Independencia, Michoacan De Ocampo, Mexico' 'Female' '23/07/2007'
 '$2407.39']
[538 'Quarteira, Faro, Portugal' 'Male' '29/04/1994' '$2666.96']
[538, 573]
5
[547 'Blois, Centre, France' 'Male' '21/07/2002' '$3635.14']
[539 'Emiliano Zapata, Guanajuato, Mexico' 'Male' '12/08/1991' '$5747.87']
[539, 547]
3
[546 'Molsheim, Alsace, France' 'Male' '26/07/2007' '$6749.86']
[542 'La Mesa, Mexico, Mexico' 'Male' '29/08/2000' '$4477.79']
[542, 546]
202
[847 'Maganha, Porto, Portugal' 'Female' '15/11/1985' '$4320.80']
[544 'Banff, Alberta, Canada' 'Female' '25/05/2005' '$1310.34']
[544, 847]
53
[639 'Rochester, New York, United States' 'Male' '01/01/2007' '$1681.00']
[545 'Celeirós, Vila Real, Portugal' 'Female' '03/09/1982' '$2029.76']
[545, 639]
38
[616 'Lille, Nord-Pas-de-Calais, France' 'Female' '04/04/1997' '$5891.93']
[548 'Miguel Hidalgo, Guanajuato, Mexico' 'Male' '04/04/2000' '$7718.68']
[548, 616]
16
[584 "Avignon, Provence-Alpes-Côte d'Azur, France" 'Male' '24/02/1984'
 '$1742.83']
[549 'Anchorage, Alaska, United States' 'Male' '23/10/1981' '$5731.07']
[549, 584]
24
[598 'Huskvarna, Jönköping, Sweden' 'Female' '06/01/1985' '$5238.49']
[552 'Perpignan, Languedoc-Roussillon, France' 'Female' '27/08/2003'
 '$3478.88']
[552, 598]
81
[681 'Cabra Figa, Lisboa, Portugal' 'Male' '11/02/1985' '$3122.25']
[553 'San Jose, San Luis Potosi, Mexico' 'Female' '01/10/1996' '$2667.16']
[553, 681]
4
[562 'Vilar, Viana do Castelo, Portugal' 'Male' '08/06/1985' '$7373.11']
[554 'Älvdalen, Dalarna, Sweden' 'Female' '16/07/2006' '$7201.47']
[554, 562]
21
[603 'Omaha, Nebraska, United States' 'Female' '06/10/1997' '$6834.47']
[556 'Kugluktuk, Nunavut, Canada' 'Female' '10/06/1998' '$7697.11']
[556, 603]
28
[617 'San Francisco, Guanajuato, Mexico' 'Male' '19/03/1992' '$1395.82']
[557 'Hearst, Ontario, Canada' 'Female' '04/10/2001' '$6431.42']
[557, 617]
9
[586 'Lynn, Massachusetts, United States' 'Male' '19/10/1981' '$6189.32']
[558 'New York City, New York, United States' 'Female' '29/01/2005'
 '$1509.69']
[558, 586]
9
[589 'Bordeaux, Aquitaine, France' 'Male' '01/11/2007' '$7689.77']
[563 'Älvdalen, Dalarna, Sweden' 'Male' '20/12/1987' '$1755.24']
[563, 589]
270
[960 'Domont, Île-de-France, France' 'Female' '03/12/1988' '$4953.85']
[564 'Magdaleno Aguilar, Tamaulipas, Mexico' 'Male' '17/10/1987'
 '$1188.11']
[564, 960]
1
[569 'Sobrosa, Porto, Portugal' 'Male' '13/05/1987' '$5264.43']
[568 'Orsay, Île-de-France, France' 'Male' '18/02/2010' '$1348.85']
[568, 569]
264
[957 'Saint-Quentin-en-Yvelines, Île-de-France, France' 'Female'
 '17/12/2006' '$5352.76']
[571 'Paris 11, Île-de-France, France' 'Female' '26/10/1993' '$6649.25']
[571, 957]
36
[646 'Louisville, Kentucky, United States' 'Female' '05/05/2007'
 '$5663.67']
[578 'Olhão, Faro, Portugal' 'Female' '07/05/1990' '$3082.24']
[578, 646]
23
[630 'Landskrona, Skåne, Sweden' 'Female' '21/08/1988' '$2250.17']
[579 'Saint-Quentin, Picardie, France' 'Male' '16/07/2004' '$4826.17']
[579, 630]
5
[594 'Dallas, Texas, United States' 'Male' '24/06/1985' '$3427.50']
[581 'Göteborg, Västra Götaland, Sweden' 'Female' '18/01/1985' '$4250.40']
[581, 594]
38
[655 'Argivai, Porto, Portugal' 'Female' '03/10/1990' '$6169.95']
[587 'Las Cruces, New Mexico, United States' 'Female' '14/09/2005'
 '$1112.80']
[587, 655]
165
[843 'Corpus Christi, Texas, United States' 'Male' '05/12/1993' '$3036.16']
[591 'Västervik, Kalmar, Sweden' 'Female' '11/11/1987' '$3028.28']
[591, 843]
170
[852 'Seara, Braga, Portugal' 'Female' '20/06/1993' '$4550.26']
[592 'Norsborg, Stockholm, Sweden' 'Male' '24/01/1983' '$2282.26']
[592, 852]
44
[666 'Dallas, Texas, United States' 'Male' '17/02/2008' '$3306.51']
[593 'Durham, North Carolina, United States' 'Male' '06/12/1991'
 '$4879.74']
[593, 666]
100
[748 'Constance, Porto, Portugal' 'Female' '26/05/1985' '$7276.96']
[595 'Vetlanda, Jönköping, Sweden' 'Female' '12/06/1985' '$4733.60']
[595, 748]
87
[732 'Poitiers, Poitou-Charentes, France' 'Male' '27/02/1989' '$5700.29']
[597 'Corgo, Porto, Portugal' 'Male' '25/05/1981' '$4902.14']
[597, 732]
49
[677 'Vincennes, Île-de-France, France' 'Female' '31/05/1984' '$1246.34']
[600 'Moret-sur-Loing, Île-de-France, France' 'Female' '26/05/2003'
 '$1422.11']
[600, 677]
143
[824 'Kopparberg, Örebro, Sweden' 'Female' '21/11/1981' '$4767.88']
[605 'Middleton, Nova Scotia, Canada' 'Male' '11/05/1998' '$4067.61']
[605, 824]
26
[650 "Notre-Dame-de-l'Île-Perrot, Québec, Canada" 'Female' '10/04/1995'
 '$3488.65']
[606 'Saint-Égrève, Rhône-Alpes, France' 'Male' '21/11/1995' '$3770.58']
[606, 650]
22
[647 'São Brás de Alportel, Faro, Portugal' 'Male' '26/10/1991' '$7147.42']
[608 'North Little Rock, Arkansas, United States' 'Female' '27/08/2009'
 '$805.10']
[608, 647]
12
[635 'Lagoa, Ilha de São Miguel, Portugal' 'Female' '09/05/2008'
 '$6520.97']
[609 'Portela, Viseu, Portugal' 'Male' '10/12/1986' '$4357.15']
[609, 635]
27
[660 'White City, Saskatchewan, Canada' 'Female' '09/10/1986' '$2409.34']
[610 'Alto do Estanqueiro, Setúbal, Portugal' 'Male' '14/12/1994'
 '$7159.29']
[610, 660]

21
[653 'Nemours, Île-de-France, France' 'Female' '15/02/2000' '$5316.35']
[611 'Montemor-o-Velho, Coimbra, Portugal' 'Male' '11/08/2006' '$7800.59']
[611, 653]
33
[672 'Bonneville, Rhône-Alpes, France' 'Male' '31/01/1999' '$5736.48']
[613 'Newport, England, United Kingdom' 'Male' '30/05/2007' '$1735.93']
[613, 672]
212
[937 'Cestas, Aquitaine, France' 'Female' '26/03/1995' '$3531.22']
[615 'San Rafael, California, United States' 'Female' '30/08/1995'
 '$5057.48']
[615, 937]
178
[898 'Houston, Texas, United States' 'Male' '17/06/2002' '$1006.79']
[618 'Gananoque, Ontario, Canada' 'Male' '06/11/1992' '$6598.41']
[618, 898]
19
[658 'Junqueiro, Lisboa, Portugal' 'Male' '27/09/2008' '$5825.82']
[620 'Orléans, Centre, France' 'Female' '14/04/1999' '$6424.69']
[620, 658]
209
[940 'Chicago, Illinois, United States' 'Female' '27/11/2000' '$7530.19']
[624 'Oromocto, New Brunswick, Canada' 'Female' '18/07/2007' '$5396.24']
[624, 940]
32
[682 'Fovissste, Chihuahua, Mexico' 'Female' '07/02/1996' '$4970.32']
[625 'Macieira de Rates, Braga, Portugal' 'Female' '18/07/2000' '$1411.11']
[625, 682]
239
[987 'Habo, Jönköping, Sweden' 'Male' '02/12/1994' '$6525.63']
[627 'San Francisco, California, United States' 'Male' '20/09/1989'
 '$1900.04']
[627, 987]
51
[710 'Las Palmas, Tamaulipas, Mexico' 'Female' '07/03/1998' '$4460.26']
[631 'Saint-Quentin, Picardie, France' 'Female' '10/01/1981' '$4796.47']
[631, 710]
1
[636 'Vale de Açores, Viseu, Portugal' 'Male' '08/04/1995' '$2608.66']
[634 'Cache Creek, British Columbia, Canada' 'Male' '25/08/2003'
 '$3585.21']
[634, 636]
0
[637 'Cache Creek, British Columbia, Canada' 'Male' '14/05/2004'
 '$1405.83']
[638 'Baltimore, Maryland, United States' 'Female' '09/05/2004' '$1812.50']
[637, 637]
52
[722 'Cergy-Pontoise, Île-de-France, France' 'Female' '11/11/1981'
 '$3374.55']
[641 'Lavadorinhos, Porto, Portugal' 'Female' '11/08/1982' '$6369.60']
[641, 722]
19
[673 'Norton, England, United Kingdom' 'Male' '05/03/1983' '$1127.28']
[642 'Miami, Florida, United States' 'Male' '02/03/1998' '$7355.48']
[642, 673]
70
[762 'Lyon, Rhône-Alpes, France' 'Female' '25/09/1982' '$1160.10']
[643 'Fagersta, Västmanland, Sweden' 'Male' '27/03/2002' '$2468.51']
[643, 762]
94
[802 "Nice, Provence-Alpes-Côte d'Azur, France" 'Female' '18/03/2003'
 '$5404.43']
[644 'Rochester, Minnesota, United States' 'Male' '16/03/1989' '$4260.81']
[644, 802]
14
[670 'Eskilstuna, Södermanland, Sweden' 'Male' '26/02/2009' '$6721.69']
[645 'Newton, Scotland, United Kingdom' 'Female' '12/01/1985' '$809.15']
[645, 670]
24
[690 'Angoulême, Poitou-Charentes, France' 'Male' '18/07/1985' '$5778.85']
[648 'Los Angeles, Nuevo Leon, Mexico' 'Female' '25/08/2009' '$2098.58']
[648, 690]
133
[872 'Lancaster, California, United States' 'Male' '20/02/1990' '$2065.92']
[649 'Campo Maior, Portalegre, Portugal' 'Female' '03/09/1997' '$1575.77']
[649, 872]
0
[651 'La Ravoire, Rhône-Alpes, France' 'Female' '19/05/2006' '$5503.12']
[654 'Barra Cheia, Setúbal, Portugal' 'Female' '15/05/2006' '$2533.07']
[651, 651]
61
[763 'Tampa, Florida, United States' 'Female' '09/03/2002' '$5805.91']
[657 'Metz, Lorraine, France' 'Male' '03/09/2005' '$3030.74']
[657, 763]
17
[688 'Clermont-Ferrand, Auvergne, France' 'Female' '17/07/1991' '$1073.36']
[659 'Francisco Villa, Coahuila De Zaragoza, Mexico' 'Male' '03/04/1999'
 '$5328.86']
[659, 688]
0
[661 'Quinta do Anjo, Setúbal, Portugal' 'Male' '13/01/1994' '$7189.04']
[662 'Torrão, Setúbal, Portugal' 'Male' '15/09/1983' '$4803.14']
[661, 661]
172
[934 'Besançon, Franche-Comté, France' 'Male' '01/11/1983' '$7537.16']
[663 'Saintes, Poitou-Charentes, France' 'Male' '15/09/1999' '$7900.09']
[663, 934]
10
[685 'Los Pinos, Michoacan De Ocampo, Mexico' 'Female' '09/10/1994'
 '$2723.11']
[664 'Santa Rosa, Jalisco, Mexico' 'Female' '10/11/1985' '$2174.45']
[664, 685]
117
[867 'Quinta do Sobrado, Leiria, Portugal' 'Female' '06/05/1983'
 '$3229.72']
[665 'Laxou, Lorraine, France' 'Male' '09/07/1996' '$6606.39']
[665, 867]
2
[671 'Kinloch, Scotland, United Kingdom' 'Female' '26/12/1980' '$1385.97']
[668 'Charlotte, North Carolina, United States' 'Female' '12/07/1993'
 '$3031.23']
[668, 671]
129
[890 'Tampa, Florida, United States' 'Female' '24/09/1992' '$3912.08']
[669 'Annecy, Rhône-Alpes, France' 'Female' '18/12/1992' '$3055.75']
[669, 890]
15
[699 'Alcanena, Santarém, Portugal' 'Male' '17/04/2010' '$6187.48']
[674 'Miami, Florida, United States' 'Female' '07/11/1996' '$1031.51']
[674, 699]
8
[692 'Cuauhtemoc, Tamaulipas, Mexico' 'Female' '17/12/2008' '$4210.02']
[675 'Serra da Silveira, Lisboa, Portugal' 'Female' '13/09/2009'
 '$5213.70']
[675, 692]
175
[956 'Várzea de Sintra, Lisboa, Portugal' 'Female' '14/04/2000' '$3114.52']
[678 'Paris La Défense, Île-de-France, France' 'Male' '27/05/2003'
 '$1768.62']
[678, 956]
2
[686 'El Rosario, Jalisco, Mexico' 'Male' '25/02/2006' '$2587.42']
[680 'Stockholm, Stockholm, Sweden' 'Female' '27/02/1983' '$5412.88']
[680, 686]
27
[736 'Askim, Västra Götaland, Sweden' 'Male' '29/01/1991' '$4930.16']
[683 'Telhado, Braga, Portugal' 'Female' '17/03/1986' '$7659.54']
[683, 736]
5
[695 'Fort Macleod, Alberta, Canada' 'Female' '02/07/2000' '$4762.01']
[687 'Stockholm, Stockholm, Sweden' 'Female' '24/06/1982' '$6525.14']
[687, 695]
8
[703 'Gif-sur-Yvette, Île-de-France, France' 'Male' '31/12/1989'
 '$6691.81']
[689 'Primero de Mayo, Coahuila De Zaragoza, Mexico' 'Male' '17/07/1983'
 '$2280.82']
[689, 703]
13
[718 'Anmore, British Columbia, Canada' 'Female' '24/02/1997' '$1647.59']
[691 'San Antonio, Nuevo Leon, Mexico' 'Female' '25/04/1995' '$1483.52']
[691, 718]
52
[795 'Eiriz, Porto, Portugal' 'Male' '13/06/1999' '$3200.25']
[693 'Peroguarda, Beja, Portugal' 'Female' '19/03/2009' '$3303.24']
[693, 795]
99
[873 'Navais, Porto, Portugal' 'Male' '08/02/1997' '$4472.72']
[694 'Sainte-Agathe-des-Monts, Québec, Canada' 'Male' '22/07/1982'
 '$6296.75']
[694, 873]
79
[840 'Nässjö, Jönköping, Sweden' 'Female' '06/03/2010' '$6819.26']
[696 'Stockholm, Stockholm, Sweden' 'Female' '02/06/1982' '$2282.24']
[696, 840]
18
[739 'Detroit, Michigan, United States' 'Male' '20/11/2006' '$2454.79']
[697 'Marietta, Georgia, United States' 'Female' '05/06/2003' '$6243.42']
[697, 739]
71
[830 'Atlanta, Georgia, United States' 'Female' '21/01/1983' '$7589.64']
[700 'Memphis, Tennessee, United States' 'Male' '13/11/1996' '$6488.85']
[700, 830]
0
[702 'Paris 08, Île-de-France, France' 'Female' '07/08/1989' '$6728.72']
[705 'Le Blanc-Mesnil, Île-de-France, France' 'Male' '26/07/1983'
 '$6946.23']
[702, 702]
54
[810 'Solna, Stockholm, Sweden' 'Female' '10/11/2003' '$1188.09']
[707 'Saint-Augustin, Québec, Canada' 'Male' '02/02/1984' '$6662.13']
[707, 810]
107
[902 'Roanoke, Virginia, United States' 'Female' '17/08/2008' '$3720.58']
[708 'Sveg, Jämtland, Sweden' 'Male' '16/02/1991' '$1240.82']
[708, 902]
39
[790 'El Paraiso, Guerrero, Mexico' 'Female' '25/02/1990' '$3814.74']
[711 'Soissons, Picardie, France' 'Male' '30/07/2009' '$2558.15']
[711, 790]
13
[743 'Cherbourg-Octeville, Basse-Normandie, France' 'Female' '30/12/1983'
 '$6749.04']
[713 'Fort Lauderdale, Florida, United States' 'Female' '07/02/1988'
 '$4305.72']
[713, 743]
16
[753 'Uddevalla, Västra Götaland, Sweden' 'Female' '18/08/1990' '$5126.92']
[715 'Knivsta, Uppsala, Sweden' 'Male' '30/12/1982' '$3859.70']
[715, 753]
0
[719 'San Antonio, Tamaulipas, Mexico' 'Male' '15/07/2002' '$1390.00']
[720 'Loma Bonita, Jalisco, Mexico' 'Female' '14/02/2004' '$7803.39']
[719, 719]
3
[729 'Nykvarn, Stockholm, Sweden' 'Male' '14/09/1995' '$6327.46']
[723 'Levandeira, Porto, Portugal' 'Female' '15/03/2004' '$5798.07']
[723, 729]
154
[979 'Cruzeiro, Aveiro, Portugal' 'Male' '30/07/2008' '$1618.95']
[725 'Carvalhal, Viseu, Portugal' 'Male' '19/10/1999' '$3618.49']
[725, 979]
114
[927 'Portland, Oregon, United States' 'Female' '10/08/2006' '$6185.72']
[727 'Fleury-les-Aubrais, Centre, France' 'Male' '15/01/1988' '$3812.30']
[727, 927]
9
[755 'Strängnäs, Södermanland, Sweden' 'Female' '24/08/1982' '$2385.94']
[734 'Monte, Porto, Portugal' 'Female' '30/01/1981' '$7548.51']
[734, 755]
18
[775 'Orlando, Florida, United States' 'Male' '17/06/1991' '$7516.22']
[735 'Saint-Quentin-en-Yvelines, Île-de-France, France' 'Female'
 '21/04/2001' '$4544.05']
[735, 775]
13
[768 'Vallentuna, Stockholm, Sweden' 'Male' '04/10/2005' '$7937.78']
[737 'Real, Braga, Portugal' 'Male' '15/09/1992' '$2261.44']
[737, 768]
97
[914 'Porto Formoso, Ilha de São Miguel, Portugal' 'Female' '27/06/2009'
 '$7591.61']
[741 'Birmingham, Alabama, United States' 'Female' '24/10/2003' '$1839.10']
[741, 914]
12
[771 'Osoyoos, British Columbia, Canada' 'Male' '06/01/2010' '$2617.72']
[742 'Söderhamn, Gävleborg, Sweden' 'Female' '28/08/1988' '$3011.36']
[742, 771]
36
[818 'Barbudo, Braga, Portugal' 'Male' '07/05/1994' '$7794.99']
[744 'Pompano Beach, Florida, United States' 'Male' '05/10/1998'
 '$2212.91']
[744, 818]
142
[988 'San Francisco, California, United States' 'Female' '23/03/1999'
 '$2460.19']
[746 'Saint Louis, Missouri, United States' 'Male' '24/02/1997' '$5130.58']
[746, 988]
58
[861 'Norton, England, United Kingdom' 'Male' '24/09/2003' '$1622.77']
[747 'Seixas, Coimbra, Portugal' 'Male' '29/11/1987' '$5948.45']
[747, 861]
8
[773 'Gävle, Gävleborg, Sweden' 'Male' '21/11/1980' '$2789.50']
[749 'Tapada das Mercês, Lisboa, Portugal' 'Female' '05/06/1985'
 '$2411.36']
[749, 773]
9
[781 'Tours, Centre, France' 'Female' '11/08/2005' '$2471.10']
[756 'Tapado, Porto, Portugal' 'Female' '04/07/2010' '$6508.41']
[756, 781]
67
[889 'Chicago, Illinois, United States' 'Male' '14/08/1985' '$3567.45']
[758 'Le Bourget-du-Lac, Rhône-Alpes, France' 'Female' '15/11/2005'
 '$7881.42']
[758, 889]
47
[854 'Strasbourg, Alsace, France' 'Female' '24/06/2010' '$1999.59']
[759 'Póvoa, Aveiro, Portugal' 'Female' '16/06/1988' '$3721.36']
[759, 854]
114
[961 'Reston, Virginia, United States' 'Male' '17/10/1987' '$7817.66']
[764 'Metz, Lorraine, France' 'Female' '15/10/2004' '$2463.52']
[764, 961]
12
[797 'Santa Valha, Vila Real, Portugal' 'Male' '24/03/1990' '$5746.59']
[765 'San Antonio, Mexico, Mexico' 'Male' '04/12/1980' '$7517.14']
[765, 797]
37
[845 'Boca Raton, Florida, United States' 'Female' '12/05/2005' '$5471.10']
[767 'Carpiquet, Basse-Normandie, France' 'Male' '12/11/2000' '$4510.14']
[767, 845]
23
[819 'Gainesville, Florida, United States' 'Female' '04/07/2007'
 '$3591.60']
[770 'Sobreira, Braga, Portugal' 'Female' '17/11/1991' '$7482.17']
[770, 819]
30
[835 'Fort Worth, Texas, United States' 'Male' '26/06/1991' '$2891.78']
[776 'Catujal Velho, Lisboa, Portugal' 'Male' '11/04/2001' '$7491.62']
[776, 835]
14
[808 'Beaune, Bourgogne, France' 'Male' '24/07/2001' '$3381.06']
[778 'Belfort, Franche-Comté, France' 'Male' '24/09/1989' '$7125.73']
[778, 808]
35
[855 'Porto de Mós, Leiria, Portugal' 'Female' '14/11/1988' '$7091.02']
[782 'Póvoa, Porto, Portugal' 'Male' '05/11/2006' '$2263.59']
[782, 855]
22
[828 'Nackawic, New Brunswick, Canada' 'Female' '02/09/1992' '$4139.57']
[784 'Santulhão, Bragança, Portugal' 'Male' '07/02/1994' '$6043.66']
[784, 828]
26
[844 'Västervik, Kalmar, Sweden' 'Male' '10/03/1982' '$7314.87']
[785 'Rueil-Malmaison, Île-de-France, France' 'Female' '31/03/1987'
 '$3108.98']
[785, 844]
23
[838 'Casal de Cambra, Lisboa, Portugal' 'Female' '12/05/1983' '$7373.73']
[788 'Vällingby, Stockholm, Sweden' 'Male' '14/03/1985' '$2692.72']
[788, 838]
20
[832 'New Haven, Connecticut, United States' 'Female' '03/06/1996'
 '$4441.41']
[791 'Halmstad, Halland, Sweden' 'Male' '26/07/2009' '$6261.32']
[791, 832]
15
[822 'Athabasca, Alberta, Canada' 'Male' '20/05/2010' '$5387.93']
[793 'Vale Boeiro, Setúbal, Portugal' 'Male' '08/03/2003' '$7421.85']
[793, 822]
9
[812 'Detroit, Michigan, United States' 'Male' '02/09/1982' '$3581.83']
[796 'Ferreira do Zêzere, Santarém, Portugal' 'Male' '19/08/2009'
 '$4575.88']
[796, 812]
3
[803 'Young America, Minnesota, United States' 'Female' '03/03/2008'
 '$4329.22']
[798 'San Martin, Mexico, Mexico' 'Female' '26/02/1989' '$2837.82']
[798, 803]
68
[933 'Spartanburg, South Carolina, United States' 'Male' '02/11/2005'
 '$1966.51']
[799 'Jamaica, New York, United States' 'Male' '08/11/1985' '$2816.85']
[799, 933]
2
[807 'Béziers, Languedoc-Roussillon, France' 'Female' '12/11/1980'
 '$1366.21']
[800 'Roscoff, Bretagne, France' 'Female' '16/12/2002' '$5843.31']
[800, 807]
78
[953 'Mâcon, Bourgogne, France' 'Female' '22/11/2002' '$1032.68']
[806 'Lindavista, Veracruz Llave, Mexico' 'Female' '25/08/2008' '$6888.06']
[806, 953]
100
[992 'Strömstad, Västra Götaland, Sweden' 'Female' '22/01/1987' '$1919.83']
[809 'Quimperlé, Bretagne, France' 'Male' '05/10/1989' '$5459.27']
[809, 992]
19
[868 "Nice, Provence-Alpes-Côte d'Azur, France" 'Male' '14/07/1996'
 '$6648.08']
[811 'Magog, Québec, Canada' 'Female' '22/07/1997' '$3646.85']
[811, 868]
58
[930 'Alingsås, Västra Götaland, Sweden' 'Female' '26/09/2000' '$5087.05']
[813 'Lameira, Viana do Castelo, Portugal' 'Female' '13/11/1998'
 '$6030.61']
[813, 930]
14
[858 'Paris 04, Île-de-France, France' 'Male' '06/05/1985' '$6939.54']
[814 'Philadelphia, Pennsylvania, United States' 'Male' '01/09/1991'
 '$7248.09']
[814, 858]
40
[910 'Borlänge, Dalarna, Sweden' 'Male' '16/10/2005' '$7242.59']
[817 'Trelleborg, Skåne, Sweden' 'Male' '23/07/1981' '$3027.41']
[817, 910]
16
[874 'Saint-Lin-Laurentides, Québec, Canada' 'Female' '30/03/1982'
 '$5074.78']
[821 'Lamas, Braga, Portugal' 'Male' '17/02/1982' '$7552.80']
[821, 874]
74
[966 'Strasbourg, Alsace, France' 'Male' '27/02/1981' '$6987.28']
[825 'Casal do Sapo, Setúbal, Portugal' 'Female' '15/05/1998' '$877.91']
[825, 966]
43
[922 'Vinhas, Porto, Portugal' 'Female' '16/11/2000' '$6154.03']
[826 'Ulricehamn, Västra Götaland, Sweden' 'Male' '30/06/1990' '$3840.66']
[826, 922]
22
[891 'Annecy, Rhône-Alpes, France' 'Female' '24/06/2005' '$7382.35']
[829 'Mosteiro, Viana do Castelo, Portugal' 'Female' '20/06/1994'
 '$5252.25']
[829, 891]
56
[947 'Valtelheiro, Bragança, Portugal' 'Male' '21/01/1986' '$4468.82']
[833 'Varberg, Halland, Sweden' 'Female' '14/01/1982' '$3951.59']
[833, 947]
4
[851 'Épinal, Lorraine, France' 'Female' '02/09/1998' '$2306.32']
[841 'Stockholm, Stockholm, Sweden' 'Male' '14/11/2007' '$7468.47']
[841, 851]
9
[876 'Atães, Braga, Portugal' 'Male' '18/10/1988' '$2566.78']
[846 'Paris 15, Île-de-France, France' 'Female' '01/04/2000' '$2452.61']
[846, 876]
0
[849 'Coaldale, Alberta, Canada' 'Male' '14/05/2005' '$5514.96']
[850 'Nanton, Alberta, Canada' 'Female' '05/07/1986' '$1385.71']
[849, 849]
16
[894 'Mesa, Arizona, United States' 'Female' '01/11/2009' '$7311.26']
[853 'Bandhagen, Stockholm, Sweden' 'Female' '07/01/1983' '$3246.27']
[853, 894]
31
[923 'Billdal, Västra Götaland, Sweden' 'Male' '22/10/1991' '$7885.38']
[857 'Além, Porto, Portugal' 'Female' '20/06/2002' '$3725.73']
[857, 923]
33
[928 'Bordeaux, Aquitaine, France' 'Female' '11/01/1988' '$1598.58']
[860 'Lancaster, California, United States' 'Female' '02/10/1982'
 '$1641.08']
[860, 928]
29
[924 'Sobrosa, Porto, Portugal' 'Female' '27/04/1984' '$6184.82']
[862 'Ribeira, Coimbra, Portugal' 'Female' '23/08/1985' '$7105.57']
[862, 924]
18
[907 "Sophia Antipolis, Provence-Alpes-Côte d'Azur, France" 'Female'
 '10/09/1984' '$5814.99']
[869 'Mercier, Québec, Canada' 'Male' '23/06/2010' '$1876.11']
[869, 907]
17
[908 'Saint-Bruno-de-Guigues, Québec, Canada' 'Female' '03/02/1998'
 '$2268.22']
[870 'Newtown, England, United Kingdom' 'Female' '13/06/1997' '$3561.11']
[870, 908]
4
[884 'Gonça, Braga, Portugal' 'Female' '18/01/1990' '$6376.96']
[877 'Cergy-Pontoise, Île-de-France, France' 'Female' '15/05/1986'
 '$4680.61']
[877, 884]
7
[893 'Moose Jaw, Saskatchewan, Canada' 'Female' '06/05/1987' '$1939.10']
[878 'Vadstena, Östergötland, Sweden' 'Male' '08/07/1992' '$3775.21']
[878, 893]
8
[899 'Carleton Place, Ontario, Canada' 'Male' '18/03/1992' '$7565.57']
[879 'Guadalupe, Campeche, Mexico' 'Male' '15/11/2003' '$7646.16']
[879, 899]
1
[886 'Cergy-Pontoise, Île-de-France, France' 'Male' '23/09/1993'
 '$1022.20']
[882 'Alcácer do Sal, Setúbal, Portugal' 'Female' '08/01/2005' '$6296.35']
[882, 886]
40
[965 'Issy-les-Moulineaux, Île-de-France, France' 'Male' '19/05/1985'
 '$3752.70']
[887 'Pinhal de Frades, Setúbal, Portugal' 'Female' '31/01/1988'
 '$1160.22']
[887, 965]
8
[911 'Svalöv, Skåne, Sweden' 'Female' '08/07/1994' '$1430.78']
[888 'Marystown, Newfoundland and Labrador, Canada' 'Female' '24/10/1981'
 '$2100.45']
[888, 911]
9
[917 'Saint Petersburg, Florida, United States' 'Female' '20/10/2003'
 '$1668.43']
[892 'Vila Franca, Viana do Castelo, Portugal' 'Female' '22/03/1982'
 '$3567.38']
[892, 917]
2
[900 'Buenavista, Puebla, Mexico' 'Male' '06/10/1986' '$825.82']
[895 'Skärholmen, Stockholm, Sweden' 'Male' '30/11/2004' '$4107.46']
[895, 900]
29
[959 'Luleå, Norrbotten, Sweden' 'Female' '08/08/1983' '$7155.79']
[896 'Agen, Aquitaine, France' 'Female' '19/03/2007' '$7634.03']
[896, 959]
0
[903 'Johanneshov, Stockholm, Sweden' 'Male' '07/04/1991' '$4176.07']
[906 'Täby, Stockholm, Sweden' 'Female' '10/06/1999' '$3873.74']
[903, 903]
18
[946 'Alverca do Ribatejo, Lisboa, Portugal' 'Female' '27/11/2005'
 '$5368.89']
[909 'Eskilstuna, Södermanland, Sweden' 'Female' '15/05/1997' '$7858.32']
[909, 946]
2
[918 'Igreja, Vila Real, Portugal' 'Male' '07/08/2003' '$7070.82']

[912 'Crossfield, Alberta, Canada' 'Female' '10/02/1996' '$7370.54']
[912, 918]
12
[942 'Lexington, Kentucky, United States' 'Male' '18/07/2007' '$7890.52']
[913 'Toledo, Ohio, United States' 'Male' '20/06/1996' '$3911.57']
[913, 942]
9
[938 'Van Nuys, California, United States' 'Male' '03/05/1995' '$1967.98']
[919 'Grande Cache, Alberta, Canada' 'Male' '11/07/2008' '$991.46']
[919, 938]
11
[949 'Kungsbacka, Halland, Sweden' 'Male' '01/07/1999' '$4615.15']
[921 'Paris 14, Île-de-France, France' 'Male' '11/09/1995' '$3945.26']
[921, 949]
24
[974 'Mobile, Alabama, United States' 'Female' '24/01/2007' '$4942.31']
[925 'Vilarinho, Coimbra, Portugal' 'Female' '25/06/1991' '$7198.71']
[925, 974]
1
[929 'Honolulu, Hawaii, United States' 'Male' '04/12/1982' '$4285.93']
[926 'Souto da Casa, Castelo Branco, Portugal' 'Female' '12/08/1998'
 '$6545.90']
[926, 929]
7
[950 'Paris 02, Île-de-France, France' 'Male' '26/05/1983' '$5521.83']
[931 'Eirado, Braga, Portugal' 'Female' '14/11/1998' '$2270.42']
[931, 950]
1
[935 'Niort, Poitou-Charentes, France' 'Female' '04/11/1985' '$6430.52']
[932 'Hartford, Connecticut, United States' 'Male' '30/12/1990' '$4901.14']
[932, 935]
4
[951 'Alminhas, Braga, Portugal' 'Male' '11/03/1984' '$2558.30']
[936 'Hartford, Connecticut, United States' 'Male' '16/04/1982' '$4066.86']
[936, 951]
23
[993 "Martigues, Provence-Alpes-Côte d'Azur, France" 'Male' '27/10/1989'
 '$1655.67']
[939 'Greater Napanee, Ontario, Canada' 'Male' '13/08/1992' '$3468.54']
[939, 993]
19
[989 'Anchorage, Alaska, United States' 'Female' '31/03/1997' '$4630.14']
[943 'Alès, Languedoc-Roussillon, France' 'Female' '22/06/1996' '$3849.89']
[943, 989]
4
[958 'Paris La Défense, Île-de-France, France' 'Female' '15/10/1993'
 '$6294.64']
[944 'Lyon, Rhône-Alpes, France' 'Female' '02/07/2004' '$2671.01']
[944, 958]
1
[954 'Emiliano Zapata, Veracruz Llave, Mexico' 'Male' '06/11/2009'
 '$4856.16']
[952 'Richmond, Virginia, United States' 'Male' '29/01/2010' '$7749.41']
[952, 954]
2
[963 'Ajaccio, Corse, France' 'Female' '23/11/1998' '$7201.06']
[955 'Scottsdale, Arizona, United States' 'Female' '26/11/2006' '$7947.82']
[955, 963]
3
[969 'Umeå, Västerbotten, Sweden' 'Male' '08/08/1989' '$7745.97']
[962 'Blaye, Aquitaine, France' 'Male' '01/10/2004' '$880.79']
[962, 969]
8
[984 'Souto, Braga, Portugal' 'Female' '17/10/2008' '$6105.52']
[964 'Beaumont, Texas, United States' 'Male' '06/05/2006' '$2735.48']
[964, 984]
4
[976 'Senhor da Serra, Coimbra, Portugal' 'Female' '13/05/1981' '$5847.43']
[968 'Morgados, Setúbal, Portugal' 'Female' '29/01/1998' '$2335.56']
[968, 976]
0
[971 'Limoges, Limousin, France' 'Male' '13/02/1985' '$4583.37']
[972 'Neuilly-sur-Marne, Île-de-France, France' 'Female' '27/08/2007'
 '$5163.00']
[971, 971]
0
[973 'Sangalhos, Aveiro, Portugal' 'Male' '21/01/2006' '$2562.92']
[977 'Canha, Setúbal, Portugal' 'Male' '08/06/1984' '$4443.31']
[973, 973]
0
[981 'Quintãs, Viseu, Portugal' 'Female' '20/04/1999' '$2320.29']
[985 'Dallas, Texas, United States' 'Female' '29/05/1999' '$5896.63']
[981, 981]
5
[998 'Boissy-Saint-Léger, Île-de-France, France' 'Male' '17/10/1990'
 '$5004.78']
[990 'Cran-Gevrier, Rhône-Alpes, France' 'Female' '26/08/1996' '$4630.99']
[990, 998]
3
[996 'Nipawin, Saskatchewan, Canada' 'Female' '29/11/1995' '$7782.63']
[991 'Saint-Avertin, Centre, France' 'Male' '08/04/1981' '$7680.45']
[991, 996]
0
[994 'Mississauga, Ontario, Canada' 'Female' '14/09/1999' '$7202.18']
[995 'Vidago, Vila Real, Portugal' 'Male' '27/02/1991' '$7831.28']
[994, 994]
0
[999 'Rennes, Bretagne, France' 'Male' '23/09/1996' '$5362.26']
[1000 'Lindavista, Guanajuato, Mexico' 'Female' '19/11/2006' '$3737.37']
[999, 999]

In [ ]:
df = np.array(df)

In [83]:
df2

array([[2, 'Rego, Porto, Portugal', 'Male', '29/11/2007', '$7833.82'],
       [3, 'Emmaboda, Kalmar, Sweden', 'Male', '23/06/1984', '$5530.85'],
       [4, 'Sala, Västmanland, Sweden', 'Female', '04/11/1983',
        '$2803.76'],
       ...,
       [998, 'Boissy-Saint-Léger, Île-de-France, France', 'Male',
        '17/10/1990', '$5004.78'],
       [999, 'Rennes, Bretagne, France', 'Male', '23/09/1996',
        '$5362.26'],
       [1000, 'Lindavista, Guanajuato, Mexico', 'Female', '19/11/2006',
        '$3737.37']], dtype=object)