In [6]:
import pandas as pd
import numpy as np
import csv

In [7]:
read = pd.read_csv('salario.csv')
salario_2 = read.drop('salario', axis=1)
salario_2

,id,pais,estado,cidade,genero,data
0,1,United States,Alabama,Mobile,Male,10/01/1987
1,2,Portugal,Porto,Rego,Male,29/11/2007
2,3,Sweden,Kalmar,Emmaboda,Male,23/06/1984
3,4,Sweden,Västmanland,Sala,Female,04/11/1983
4,5,France,Bretagne,Quimperlé,Female,18/11/1990
5,6,United States,Ohio,Cincinnati,Female,10/07/1981
6,7,France,Poitou-Charentes,Niort,Female,23/03/1989
7,8,Mexico,Tamaulipas,Del Valle,Male,02/05/1990
8,9,United States,Oklahoma,Oklahoma City,Male,27/11/1992
9,10,France,Champagne-Ardenne,Reims,Female,19/01/2007
10,11,United States,Florida,Melbourne,Male,29/01/2007
11,12,Sweden,Värmland,Årjäng,Male,25/03/1995
12,13,Sweden,Uppsala,Uppsala,Female,15/01/1996
13,14,Sweden,Södermanland,Katrineholm,Female,31/10/2002
14,15,United States,Kentucky,Frankfort,Female,14/11/1980
15,16,Sweden,Stockholm,Älvsjö,Female,05/05/1985
16,17,Canada,Manitoba,Thompson,Male,30/04/2009
17,18,United States,Alabama,Mobile,Female,06/05/1983
18,19,Mexico,Veracruz Llave,Morelos,Male,09/11/2004
19,20,Sweden,Dalarna,Avesta,Female,04/05/2000
20,21,Sweden,Kalmar,Nybro,Female,28/02/1996
21,22,United States,Texas,Corpus Christi,Male,06/01/1999
22,23,United Kingdom,England,Church End,Male,27/04/1992
23,24,France,Haute-Normandie,Rouen,Male,20/09/2002
24,25,France,Pays de la Loire,Nantes,Female,21/11/1990
25,26,Sweden,Västernorrland,Kvissleby,Male,19/10/1981
26,27,Sweden,Västra Götaland,Göteborg,Male,01/12/2000
27,28,Portugal,Portalegre,Santo Aleixo,Male,25/10/1999
28,29,France,Franche-Comté,Besançon,Male,19/04/1994
29,30,Sweden,Stockholm,Gustavsberg,Female,16/08/1999
...,...,...,...,...,...,...
970,971,France,Limousin,Limoges,Male,13/02/1985
971,972,France,Île-de-France,Neuilly-sur-Marne,Female,27/08/2007
972,973,Portugal,Aveiro,Sangalhos,Male,21/01/2006
973,974,United States,Alabama,Mobile,Female,24/01/2007
974,975,Portugal,Santarém,Meia Via,Female,23/06/1992
975,976,Portugal,Coimbra,Senhor da Serra,Female,13/05/1981
976,977,Portugal,Setúbal,Canha,Male,08/06/1984
977,978,France,Centre,Orléans,Male,23/10/1996
978,979,Portugal,Aveiro,Cruzeiro,Male,30/07/2008
979,980,Portugal,Santarém,Almeirim,Female,22/04/1985
980,981,Portugal,Viseu,Quintãs,Female,20/04/1999
981,982,France,Pays de la Loire,Le Mans,Male,12/03/1994
982,983,Mexico,Distrito Federal,El Mirador,Female,06/06/2004
983,984,Portugal,Braga,Souto,Female,17/10/2008
984,985,United States,Texas,Dallas,Female,29/05/1999
985,986,Sweden,Örebro,Hallsberg,Female,16/10/1985
986,987,Sweden,Jönköping,Habo,Male,02/12/1994
987,988,United States,California,San Francisco,Female,23/03/1999
988,989,United States,Alaska,Anchorage,Female,31/03/1997
989,990,France,Rhône-Alpes,Cran-Gevrier,Female,26/08/1996
990,991,France,Centre,Saint-Avertin,Male,08/04/1981
991,992,Sweden,Västra Götaland,Strömstad,Female,22/01/1987
992,993,France,Provence-Alpes-Côte d'Azur,Martigues,Male,27/10/1989
993,994,Canada,Ontario,Mississauga,Female,14/09/1999
994,995,Portugal,Vila Real,Vidago,Male,27/02/1991
995,996,Canada,Saskatchewan,Nipawin,Female,29/11/1995
996,997,Portugal,Portalegre,Santo Aleixo,Female,09/02/1988
997,998,France,Île-de-France,Boissy-Saint-Léger,Male,17/10/1990
998,999,France,Bretagne,Rennes,Male,23/09/1996
999,1000,Mexico,Guanajuato,Lindavista,Female,19/11/2006

In [8]:
df = salario_2.copy() 
local = []
cidades = salario_2.cidade
estados = salario_2.estado
paises = salario_2.pais

for i in range(0,len(cidades)):
    local.append(str('{}, {}, {}'.format(cidades[i], estados[i], paises[i])))

In [9]:
pd.DataFrame(local)
df = df.drop("cidade",axis=1)
df = df.drop("estado",axis=1)
df = df.drop("pais",axis=1)

date = []
datas = salario_2.data

for i in range(0,len(datas)):
    date.append(datas[i])

df = df.drop("data",axis=1)

df['local'] = local
df['data'] = date

df

       id  genero                                          local        data
0       1    Male                 Mobile, Alabama, United States  10/01/1987
1       2    Male                          Rego, Porto, Portugal  29/11/2007
2       3    Male                       Emmaboda, Kalmar, Sweden  23/06/1984
3       4  Female                      Sala, Västmanland, Sweden  04/11/1983
4       5  Female                    Quimperlé, Bretagne, France  18/11/1990
5       6  Female                Cincinnati, Ohio, United States  10/07/1981
6       7  Female                Niort, Poitou-Charentes, France  23/03/1989
7       8    Male                  Del Valle, Tamaulipas, Mexico  02/05/1990
8       9    Male         Oklahoma City, Oklahoma, United States  27/11/1992
9      10  Female               Reims, Champagne-Ardenne, France  19/01/2007
10     11    Male              Melbourne, Florida, United States  29/01/2007
11     12    Male                       Årjäng, Värmland, Sweden  25/03/1995
12     13  Female                       Uppsala, Uppsala, Sweden  15/01/1996
13     14  Female              Katrineholm, Södermanland, Sweden  31/10/2002
14     15  Female             Frankfort, Kentucky, United States  14/11/1980
15     16  Female                      Älvsjö, Stockholm, Sweden  05/05/1985
16     17    Male                     Thompson, Manitoba, Canada  30/04/2009
17     18  Female                 Mobile, Alabama, United States  06/05/1983
18     19    Male                Morelos, Veracruz Llave, Mexico  09/11/2004
19     20  Female                        Avesta, Dalarna, Sweden  04/05/2000
20     21  Female                          Nybro, Kalmar, Sweden  28/02/1996
21     22    Male           Corpus Christi, Texas, United States  06/01/1999
22     23    Male            Church End, England, United Kingdom  27/04/1992
23     24    Male                 Rouen, Haute-Normandie, France  20/09/2002
24     25  Female               Nantes, Pays de la Loire, France  21/11/1990
25     26    Male              Kvissleby, Västernorrland, Sweden  19/10/1981
26     27    Male              Göteborg, Västra Götaland, Sweden  01/12/2000
27     28    Male             Santo Aleixo, Portalegre, Portugal  25/10/1999
28     29    Male                Besançon, Franche-Comté, France  19/04/1994
29     30  Female                 Gustavsberg, Stockholm, Sweden  16/08/1999
..    ...     ...                                            ...         ...
970   971    Male                      Limoges, Limousin, France  13/02/1985
971   972  Female       Neuilly-sur-Marne, Île-de-France, France  27/08/2007
972   973    Male                    Sangalhos, Aveiro, Portugal  21/01/2006
973   974  Female                 Mobile, Alabama, United States  24/01/2007
974   975  Female                   Meia Via, Santarém, Portugal  23/06/1992
975   976  Female             Senhor da Serra, Coimbra, Portugal  13/05/1981
976   977    Male                       Canha, Setúbal, Portugal  08/06/1984
977   978    Male                        Orléans, Centre, France  23/10/1996
978   979    Male                     Cruzeiro, Aveiro, Portugal  30/07/2008
979   980  Female                   Almeirim, Santarém, Portugal  22/04/1985
980   981  Female                       Quintãs, Viseu, Portugal  20/04/1999
981   982    Male              Le Mans, Pays de la Loire, France  12/03/1994
982   983  Female           El Mirador, Distrito Federal, Mexico  06/06/2004
983   984  Female                         Souto, Braga, Portugal  17/10/2008
984   985  Female                   Dallas, Texas, United States  29/05/1999
985   986  Female                      Hallsberg, Örebro, Sweden  16/10/1985
986   987    Male                        Habo, Jönköping, Sweden  02/12/1994
987   988  Female       San Francisco, California, United States  23/03/1999
988   989  Female               Anchorage, Alaska, United States  31/03/1997
989   990  Female              Cran-Gevrier, Rhône-Alpes, France  26/08/1996
990   991    Male                  Saint-Avertin, Centre, France  08/04/1981
991   992  Female             Strömstad, Västra Götaland, Sweden  22/01/1987
992   993    Male  Martigues, Provence-Alpes-Côte d'Azur, France  27/10/1989
993   994  Female                   Mississauga, Ontario, Canada  14/09/1999
994   995    Male                    Vidago, Vila Real, Portugal  27/02/1991
995   996  Female                  Nipawin, Saskatchewan, Canada  29/11/1995
996   997  Female             Santo Aleixo, Portalegre, Portugal  09/02/1988
997   998    Male      Boissy-Saint-Léger, Île-de-France, France  17/10/1990
998   999    Male                       Rennes, Bretagne, France  23/09/1996
999  1000  Female                 Lindavista, Guanajuato, Mexico  19/11/2006

[1000 rows x 4 columns]