In [1]:
import csv
import heapq
import numpy as np
import pandas as pd

In [2]:
k = 2

df = pd.read_csv('salario.csv')

In [3]:
def anonimity(k):    
    salario_2 = df.drop('salario', axis=1)
    salario_2 = salario_2.drop('id',axis=1)
    #print(df.loc[[1]])

In [4]:
salario_2 = df.drop('salario', axis=1)
salario_2 = salario_2.drop('id',axis=1)

In [5]:
salario_2.data.unique().shape

(956,)

In [6]:
dt2 = []
dt2 = salario_2["data"].str.split("/", n = 2, expand = True)
salario_2 = salario_2.drop("data", axis=1)

In [7]:
salario_2['dia'] = dt2[0]
salario_2['mes'] = dt2[1]
salario_2['ano'] = dt2[2]

In [8]:
salario_2

,pais,estado,cidade,genero,dia,mes,ano
0,United States,Alabama,Mobile,Male,10,01,1987
1,Portugal,Porto,Rego,Male,29,11,2007
2,Sweden,Kalmar,Emmaboda,Male,23,06,1984
3,Sweden,Västmanland,Sala,Female,04,11,1983
4,France,Bretagne,Quimperlé,Female,18,11,1990
5,United States,Ohio,Cincinnati,Female,10,07,1981
6,France,Poitou-Charentes,Niort,Female,23,03,1989
7,Mexico,Tamaulipas,Del Valle,Male,02,05,1990
8,United States,Oklahoma,Oklahoma City,Male,27,11,1992
9,France,Champagne-Ardenne,Reims,Female,19,01,2007
10,United States,Florida,Melbourne,Male,29,01,2007
11,Sweden,Värmland,Årjäng,Male,25,03,1995
12,Sweden,Uppsala,Uppsala,Female,15,01,1996
13,Sweden,Södermanland,Katrineholm,Female,31,10,2002
14,United States,Kentucky,Frankfort,Female,14,11,1980
15,Sweden,Stockholm,Älvsjö,Female,05,05,1985
16,Canada,Manitoba,Thompson,Male,30,04,2009
17,United States,Alabama,Mobile,Female,06,05,1983
18,Mexico,Veracruz Llave,Morelos,Male,09,11,2004
19,Sweden,Dalarna,Avesta,Female,04,05,2000
20,Sweden,Kalmar,Nybro,Female,28,02,1996
21,United States,Texas,Corpus Christi,Male,06,01,1999
22,United Kingdom,England,Church End,Male,27,04,1992
23,France,Haute-Normandie,Rouen,Male,20,09,2002
24,France,Pays de la Loire,Nantes,Female,21,11,1990
25,Sweden,Västernorrland,Kvissleby,Male,19,10,1981
26,Sweden,Västra Götaland,Göteborg,Male,01,12,2000
27,Portugal,Portalegre,Santo Aleixo,Male,25,10,1999
28,France,Franche-Comté,Besançon,Male,19,04,1994
29,Sweden,Stockholm,Gustavsberg,Female,16,08,1999
...,...,...,...,...,...,...,...
970,France,Limousin,Limoges,Male,13,02,1985
971,France,Île-de-France,Neuilly-sur-Marne,Female,27,08,2007
972,Portugal,Aveiro,Sangalhos,Male,21,01,2006
973,United States,Alabama,Mobile,Female,24,01,2007
974,Portugal,Santarém,Meia Via,Female,23,06,1992
975,Portugal,Coimbra,Senhor da Serra,Female,13,05,1981
976,Portugal,Setúbal,Canha,Male,08,06,1984
977,France,Centre,Orléans,Male,23,10,1996
978,Portugal,Aveiro,Cruzeiro,Male,30,07,2008
979,Portugal,Santarém,Almeirim,Female,22,04,1985
980,Portugal,Viseu,Quintãs,Female,20,04,1999
981,France,Pays de la Loire,Le Mans,Male,12,03,1994
982,Mexico,Distrito Federal,El Mirador,Female,06,06,2004
983,Portugal,Braga,Souto,Female,17,10,2008
984,United States,Texas,Dallas,Female,29,05,1999
985,Sweden,Örebro,Hallsberg,Female,16,10,1985
986,Sweden,Jönköping,Habo,Male,02,12,1994
987,United States,California,San Francisco,Female,23,03,1999
988,United States,Alaska,Anchorage,Female,31,03,1997
989,France,Rhône-Alpes,Cran-Gevrier,Female,26,08,1996
990,France,Centre,Saint-Avertin,Male,08,04,1981
991,Sweden,Västra Götaland,Strömstad,Female,22,01,1987
992,France,Provence-Alpes-Côte d'Azur,Martigues,Male,27,10,1989
993,Canada,Ontario,Mississauga,Female,14,09,1999
994,Portugal,Vila Real,Vidago,Male,27,02,1991
995,Canada,Saskatchewan,Nipawin,Female,29,11,1995
996,Portugal,Portalegre,Santo Aleixo,Female,09,02,1988
997,France,Île-de-France,Boissy-Saint-Léger,Male,17,10,1990
998,France,Bretagne,Rennes,Male,23,09,1996
999,Mexico,Guanajuato,Lindavista,Female,19,11,2006

In [9]:
def distance(reg1, reg2):
    reg1 = np.array(reg1)
    reg2 = np.array(reg2)
    #print(reg1)
    #print(reg2)
    count = 0
    for i in range(0, reg1.shape[1]):
        if(reg1[0][i]!=reg2[0][i]):
            count = count + 1
    return count

In [10]:
distance(salario_2.loc[[0]], salario_2.loc[[1]])

6

In [11]:
salario_2.loc[(df['cidade']) == 'Mobile']

              pais   estado  cidade  genero dia mes   ano
0    United States  Alabama  Mobile    Male  10  01  1987
17   United States  Alabama  Mobile  Female  06  05  1983
973  United States  Alabama  Mobile  Female  24  01  2007

In [12]:
cidades = pd.DataFrame(data=salario_2.cidade.unique())
estados = pd.DataFrame(data=salario_2.estado.unique())
paises = pd.DataFrame(data=salario_2.pais.unique())

In [17]:
def heapzando(df):
    distances = []
    for i in range(0, df.shape[0]):
        for j in range(i+1,df.shape[0]-1):
            dis = distance(df.loc[[i]],df.loc[[j]])
            distances.append(dis)
    heapq.heapify(distances)
    print(distances)

In [ ]:
heapzando(salario_2)

In [15]:
#def test_anonim_city(k, cidade):
#    similar = salario_2.loc[(df['cidade']) == cidade]
#    count = similar.shape[0]
#    distances = []
#    for i in range(0, count-1):
#        for j in range(i+1, count):
#            print("i: ",i)
#            print("j: ",j)
#            reg1 = pd.DataFrame(similar.loc[i])
#            reg2 = pd.DataFrame(similar.loc[j])
#            dis = distance(reg1, reg2)
#            distance.append(dis)
#    print(distances)

In [16]:
similar = salario_2.loc[(df['cidade']) == cidades[0][0]]
re = similar.loc[0]